<div class="container">
    <h1>Ventilation non invasive</h1>
    <h2>Généralités</h2>
    <p>La ventilation non invasive (VNI) est une technique qui après avoir été largement validée en réanimation est utilisée de manière quotidienne dans les structures d’urgences pré- et intra hospitalières. 
        <br>La VNI désigne communément la ventilation non invasive en pression positive intermittente pratiquée à l’aide d’un ventilateur à régulation de volume ou à régulation de pression et au cours de laquelle la connexion entre le patient et le ventilateur est assurée par un masque ou un embout buccal. Bien que le vocable « ventilation non invasive » puisse suggérer « simplicité », la VNI est un procédé d’assistance ventilatoire éminemment délicat dont le succès dépend de connaissances techniques spécifiques et de l’expérience du praticien.  
    </p>
    <h2>Masques de Ventilation non invasive</h2>
    <p>Les masques utilisés aujourd’hui pour la VNI sont dans la majorité des cas de type industriel et recouvrent soit le nez (masque nasal) soit le nez et la bouche (masque facial). Ces masques sont habituellement constitués d’une coque transparente en matière plastique bordée d’un coussinet sur son pourtour afin d’assurer une étanchéité entre le masque et la peau, et le confort du patient. 
 
    <br><br>
        Elles jouent un rôle majeur pour la tolérance et l’efficacité. Elles doivent être disponibles en plusieurs tailles et modèles. Le masque naso-buccal est recommandé en première intention [54]. Les complications liées à l’interface peuvent conduire à utiliser d’autres modèles : « masque total », casque, pour améliorer la tolérance. 
    </p>
    <h3>1.	Masque nasal </h3>
    <div class="grid-container">
        <div class="grid-item item2">
            <img src="../../../assets/chap8_1.png" alt="">
        </div>
        <div class="grid-item item1">
            <p>
                Le masque nasal se présente sous la forme d ’unecoque	triangulaire	venant	en	contact respectivement avec l’arête du nez, les faces latérales de celui-ci et la lèvre supérieure. Les masques de type nasal présentent, en outre, un appui frontal dont le coussinet d ’appui, en matière souple lui aussi, permet la stabilisation du masque sur le visage. 
                <br>Des effets secondaires dus à l ’appui cutané sont en effet fréquemment observés (rougeurs, escarres).  
                <br>L’inconvénient principal du masque nasal est son inefficacité totale en cas d ’ouverture de la bouche. En effet, la ventilation se distribuant préférentiellement dans les zones de moindre résistance, l’ouverture, même partielle, de la bouche induit une hypoventilation alvéolaire contraire à l’effet recherché. Chez beaucoup de sujets, l’utilisation d’une mentonnière s’avère indispensable. 
            </p>
        </div>
    </div>
    <h3>2.	Masque facial/nasobuccal(NB) :</h3>
    <div class="grid-container">
        <div class="grid-item item2">
            <img src="../../../assets/chap8_2.png" alt="">
        </div>
        <div class="grid-item item1">
            <p>Le masque NB est le plus utilisé en milieu hospitalier dans la ventilation en phase aiguë. Il se caractérise par la couverture complète des voies respiratoires. De ce fait, le patient peut indifféremment respirer par le nez ou par la bouche. La taille idéale doit couvrir l’espace compris entre l’arête du nez, les sillons nasogéniens et le bord inférieur de la lèvre inférieure
            <br>Le masque NB semble plus adapté que le masque nasal pour la VNI en phase aiguë, il présente des inconvénients, comme la sensation de claustrophobie chez certaines personnes, l’impossibilité de parler ou de cracher chez les patients encombrés et même certains dangers importants comme l’inhalation de liquide gastrique en cas de vomissement.  
            </p>
        </div>
    </div>
    <h3>3.	Le masque facial intégral : </h3>
    <p>Dérivant du masque NB, mais recouvrant les yeux jusqu’au front. L’avantage principal est d’éviter la fuite aérique désagréable pouvant se produire au niveau des yeux. Il est jugé généralement plus confortable, Mais il provoque néanmoins une sécheresse orale et nasale, ainsi qu’une sensation de claustrophobie et majore l’asynchronie patient– machine (en cas de fuites relativement importantes).  
    </p>
    <h3>a.	Helmet </h3>
    <p>Le Helmet ou casque, en matière plastique transparente et semi-rigide, constitue une sorte de « bulle » englobant la tête du patient. Selon la marque et le modèle, le montage est stabilisé par des courroies passant sous les creux axillaires ou par un coussin gonflé autour du cou du patient. La mise en place d’un tel dispositif est plus longue que celle d’un masque simple et requiert souvent quatre mains. La partie antérieure transparente permet au sujet d’interagir plus facilement avec son entourage, mais elle ne lui permet pas de cracher facilement, ce qui peut s’avérer problématique dans certains cas. 
        <br>Ce dispositif, n’est en général pas utilisé en première intention, notamment à cause de son coût élevé, il constitue une alternative extrêmement intéressante pour des ventilations longues chez des patients qu’il est préférable de ne pas intuber (immunodéficience, décision éthique de fin de vie). Il permet également d’élargir les indications de la VNI, principalement pour des patients présentant une contre-indication à l’usage d’un autre type d’interface (fractures des os du visage, épistaxis, etc.).  
    </p>
    <h3>b.	Embout buccal </h3>
    <p>Les embouts buccaux ou pièces buccales sont exclusivement utilisés chez les patients neuromusculaires très dépendants de la VNI pour apporter un complément de ventilation pendant la journée. Il s’agit d’embouts en matière plastique qui peuvent être soit tenus par la main, tenus entre les dents serrées, fixés à l’aide d’un harnais autour de la tête ou rendus solidaires d’un fauteuil roulant par un bras métallique. Ce type de support utilise en principe un ventilateur volumétrique.  
    </p>
    <h2>Indications et contre-indications</h2>
    <h3>1.	Indications : </h3>
    <table >
        <tr style="border: 1px solid;">
            <td style="border: 1px solid;">Intérêt certain <br>
                Il faut faire (G1+) 
            </td>
            <td>Décompensation de BPCO OAP cardiogénique </td>
        </tr>
        <tr style="border: 1px solid;">
            <td style="border: 1px solid;">Intérêt non établi de façon certaine 
                <br>Il faut probablement faire (G2+) 
                 </td>
            <td>IRA hypoxémique de l’immunodéprimé Post-opératoire de chirurgie thoracique et abdominale
                <br>Stratégie de sevrage de la ventilation invasive chez les BPCO Prévention d’une IRA post extubation Traumatisme thoracique fermé isolé Décompensation de maladies neuromusculaires chroniques et autres IRC restrictives
                <br>Mucoviscidose décompensée
                <br>Forme apnéisante de la bronchiolite aiguë Laryngo-trachéomalacie
            </td>
        </tr>
        <tr style="border: 1px solid;">
            <td style="border: 1px solid;">Aucun avantage démontré 
                <br>Il ne faut probablement pas faire (G2-) 
                 </td>
            <td>Pneumopathie hypoxémiante Syndrome de détresse respiratoire aiue Traitement de l’IRA post-extubation 
                <br>Maladies neuromusculaires aiguës réversibles                 
            </td>
        </tr>
    </table>
    <p>La VNI peut également être utilisée dans les situations suivantes : 
        <br>•	Fibroscopie bronchique chez les patients hypoxémiques (G2+), 
        <br>•	Pré-oxygénation avant intubation pour IRA (G2+)
    </p>
    <h3>2.	Contre-indications : </h3>
    <p>Le succès de mise en œuvre de la VNI impose le respect de ses contre-indications :
        <br>o	Environnement inadapté, expertise insuffisante de l'équipe 
        <br>o	Patient non-coopérant, agité, opposant à la technique 
        <br>o	Intubation imminente (sauf VNI en pré-oxygénation) 
        <br>o	Coma (sauf coma hypercapnique de l’insuffisance respiratoire chronique) 
        <br>o	Épuisement respiratoire 
        <br>o	État de choc, troubles du rythme ventriculaire graves 
        <br>o	Sepsis sévère 
        <br>o	Immédiatement après un arrêt cardio-respiratoire 
        <br>o	Pneumothorax non drainé, plaie thoracique soufflante 
        <br>o	Obstruction des voies aériennes supérieures (sauf apnées du sommeil, laryngo- trachéomalacie) 
        <br>o	Vomissements incoercibles 
        <br>o	Hémorragie digestive haute 
        <br>o	Traumatisme crânio-facial grave 
        <br>o	Tétraplégie traumatique aiguë à la phase initiale 
    </p>
    <h2>Effets secondaires</h2>
    <p>Les effets secondaires sévères sont très rares (troubles du rythme cardiaque, pneumonie d’inhalation, épistaxis, pneumothorax, pneumo-médiastin et hypotension artérielle). 
        <br>Les effets secondaires mineurs sont relativement fréquents, et sont regroupés dans le tableau suivant en fonction de leurs origines. 
    </p>
    <table >
        <tr style="border: 1px solid;">
            <td style="border: 1px solid;">Origine de la complication  </td>
            <td style="border: 1px solid;">Complications </td>
            <td>Mesures préventives et curatives  </td>
        </tr>
        <tr style="border: 1px solid;">
            <td style="border: 1px solid;">Interface  </td>
            <td style="border: 1px solid;">•	Érythème, ulcération cutanée 
                •	Allergies cutanées réinhalation du CO2expiré 
                •	Nécrose des narines ou de la columelle 
            </td>
            <td>•	Protection cutanée 
                •	Serrage adapté du harnais changement d’interface changement d'interface réduction de l’espace mort application d'une PEP changement d'interface ou intubation                              
            </td>
        </tr>
        <tr style="border: 1px solid;">
            <td style="border: 1px solid;">Débit où Pressions  </td>
            <td style="border: 1px solid;">•	Sécheresse des voies aériennes 
                •	Supérieures 
                •	Distension gastro intestinale 
                •	Otalgies,douleurs	naso-sinusiennes distension pulmonaire 
                •	Pneumothorax                 
            </td>
            <td>•	Humidification 
                •	Réduction des pressions, sonde gastrique réduction des pressions 
                •	Optimisation	des	réglages	drainage thoracique, 
                •	Arrêt de la VNI 
            </td>
        </tr>
        <tr style="border: 1px solid;">
            <td style="border: 1px solid;">L'ensemble  </td>
            <td style="border: 1px solid;">uites, complications conjonctivales 
            </td>
            <td>•	Changement d'interface 
                •	Optimisation des réglages 
            </td>
        </tr>
    </table>
    <h2>Modalités pratiques de la mise en route de la ventilation non invasive</h2>
    <h3>1.	Choix de l’interface : </h3>
    <p>Le choix de l’interface est un temps capital dans la mise en place de la VNI. 
        <br>L’interface doit réunir confort et efficacité pour une tolérance optimale, clé de voûte d’une observance de qualité et du succès de la technique. Avant de procéder au choix de l’interface, l’opérateur doit s’assurer de l’absence de plaie au niveau du visage, de la perméabilité nasale du patient, de la bonne santé de la dentition du sujet (naturelle ou artificielle), de la capacité de préhension mandibulaire du patient et du degré de handicap moteur éventuellement associé. [55] 
        <br>Le choix de l’interface se fait donc sur plusieurs critères, la Société de Réanimation de Langue Française propose l’algorithme décisionnel suivant : 
    </p>
    <img src="../../../assets/chap8_3.png" alt="">
    <h3>2.	Modes ventilatoires : </h3>
    <p>Critères cliniques d’instauration de la VNI avec les modes ventilatoires recommandés par la SFAR, SPLF et SRLF :
    </p>
    <h3>a.	BPCO </h3>
    <p>
        La VNI (mode VS-AI-PEP) est recommandée dans les décompensations de BPCO avec acidose respiratoire et pH < 7,35 (G1+). La VS-PEP ne doit pas être utilisée (G2-). 
    </p>
    <h3>b.	OAP cardiogénique </h3>
    <p>La VNI ne se conçoit qu’en association au traitement médical optimal (G1+) et ne doit pas retarder la prise en charge spécifique d’un syndrome coronarien aigu (G2+). 
        <br>Elle doit être instaurée sur le mode VS-PEP ou VS-AI-PEP (G1+) : 
        <br>–en cas de signes cliniques de détresse respiratoire, sans attendre le résultat des gaz du sang (G2+). 
        <br>–en cas d’hypercapnie avec PaCO2 > 45 mmHg (G1+) 
    </p>
    <h3>c.	IRA de l’immunodéprimé </h3>
    <p>La VNI (mode VS-AI-PEP) doit être proposée en première intention en cas d’IRA (PaO2 / FIO2< 200 mmHg) avec infiltrat pulmonaire (G2+). </p>
    <h3>d.	Traumatismes thoraciques </h3>
    <p>Lorsque la VNI est utilisée, le mode ventilatoire peut être la VS-PEP ou la VS-AI-PEP. </p>
    <h3>e.	Pathologies neuromusculaires </h3>
    <p>Les signes cliniques de lutte même frustres ou l’hypercapnie dès 45 mmHg constituent des indications formelles de VNI (associée au désencombrement) (G2+). Les modes possibles sont la VS-AI-PEP, la ventilation assistée contrôlée (VAC) en pression (p) ou en volume (v). </p>
    <h3>f.	Pneumopathies hypoxémiantes </h3>
    <p>La VNI n’est pas recommandée en première intention en cas de : 
       <br>-	Défaillance extra-respiratoire, 
        <br>-	PaO2 /FIO2 < 150 mmHg 
        <br>-	GCS < 11, agitation 
        <br><br>Si une VNI est utilisée, le mode VS-AI-PEP doit être privilégié. 
    </p>
    <h3>3.	Humidification : </h3>
    <p>Il semble actuellement admis que l’humidification des voies aériennes lors de la VNI est nécessaire, et ce d’autant plus que le ventilateur choisi utilise les gaz muraux, ou que la FiO2 est élevée. 
        <br>En pratique, deux moyens d’humidification sont disponibles pour la VNI : 
        <br>•	Le filtre échangeur de chaleur et d’humidité (ECH) ; 
        <br>•	L’humidificateur chauffant (HC). 
         
        <br><br>La simplicité d’usage, la disponibilité, les arguments économiques et l’absence de preuve établie de supériorité de l’humidificateur chauffant sont autant d’arguments pour privilégier le filtre échangeur de chaleur et d’humidité comme dispositif d’humidification des voies aériennes au cours de la VNI  
    </p>
    <h3>4.	Etapes de la mise en route de la VNI : </h3>
    <table >
        <tr style="border: 1px solid;">
            <td style="border: 1px solid;">1 </td>
            <td>S’assurer que les locaux sont appropriés à la conduite de la VNI : disponibilité d’un monitorage minimal, boîte d’intubation vérifiée, le recours à la VM par intubation trachéale doit être possible à n’importe quel moment </td>
        </tr>
        <tr style="border: 1px solid;">
            <td style="border: 1px solid;">2 </td>
            <td>Placer le patient en position allongée sur le lit avec un angle de 30 degrés 
            </td>
        </tr>
        <tr style="border: 1px solid;">
            <td style="border: 1px solid;">3 </td>
            <td>Expliquer la technique au patient et le rassurer 
            </td>
        </tr>
        <tr style="border: 1px solid;">
            <td>4 </td>
            <td style="border: 1px solid;">Choisir l’interface convenable et la taille appropriée 
            </td>
        </tr>
        <tr style="border: 1px solid;">
            <td style="border: 1px solid;">5 </td>
            <td>Assurer les réglages initiaux du ventilateur (avant de connecter le masque au patient) comme suit : 
                <br>•	Mode : VSAI 
                <br>•	Trigger inspiratoire : -1 à -2 L/min ou -1 à -2 cmH2O (niveau le plus faible possible, sans induire des auto déclenchements) 
                <br>•	Pente de pressurisation : modérée à maximale (100-200 ms) 
                <br>•	PEP initiale: 3-4 cmH2O 
                <br>•	Aide inspiratoire (AI) : niveau initial de 8-10 cmH2O 
                <br>•	Trigger expiratoire (cyclage expiratoire) : débit de fin de 25-30 % du débit inspiratoire maximal ou une durée d’insufflation entre 0,8 et 1,2 s 
                <br>•	FiO2 initiale : 50-60 %  
            </td>
        </tr>
        <tr style="border: 1px solid;">
            <td style="border: 1px solid;">6 </td>
            <td>Informer le patient du démarrage de la première séance et de la durée prévue 
            </td>
        </tr>
        <tr style="border: 1px solid;">
            <td style="border: 1px solid;">7 </td>
            <td>Protéger la peau, surtout au niveau des zones de pression (en fonction de l’interface choisie)  </td>
        </tr>
        <tr style="border: 1px solid;">
            <td style="border: 1px solid;">8 </td>
            <td>Placer le masque sur le visage avec douceur, le maintenir en place à la main et démarrer la ventilation. Inciter et encourager le patient à tenir le masque à la main et lui demander de respirer normalement  </td>
        </tr>
        <tr style="border: 1px solid;">
            <td style="border: 1px solid;">9 </td>
            <td>Lorsque le patient tolère le masque et s’est adapté aux pressions, serrer les sangles afin d’obtenir une bonne étanchéité (éviter de trop serrer, des fuites faibles pouvant être tolérées). Envisager de changer l’interface au cas où elle s’avère mal adaptée (éventuellement aussi pour une alternance de masques)   </td>
        </tr>
        <tr style="border: 1px solid;">
            <td style="border: 1px solid;">10 </td>
            <td>Ajuster la FiO2 à un niveau convenable pour un objectif de SpO2 > 95 % (s’il s’agit d’une BPCO, l’objectif de SpO2 est ramené à 90-92 %)  </td>
        </tr>
        <tr style="border: 1px solid;">
            <td style="border: 1px solid;">11 </td>
            <td>Ajuster les alarmes du ventilateur et du scope  </td>
        </tr>
        <tr style="border: 1px solid;">
            <td style="border: 1px solid;">12 </td>
            <td>Ajuster les niveaux de pression en augmentant progressivement l’aide inspiratoire (AI) (entre 8-16 cmH2O) pour obtenir un volume courant entre 6 et 8mL/kg du poids prédit (sans dépasser un niveau de pression maximale : AI + PEEP de 25 cmH2O), et en appliquant une PEEP de 4 à 8 cmH2O (selon l’indication et le niveau d’hypoxémie)  </td>
        </tr>
        <tr style="border: 1px solid;">
            <td style="border: 1px solid;">13 </td>
            <td>Raccorder l’humidificateur choisi (si la durée prévisible de la VNI dépasse quelques heures)  </td>
        </tr>
        <tr style="border: 1px solid;">
            <td style="border: 1px solid;">14 </td>
            <td>Surveiller la conscience, la fréquence respiratoire, le volume courant, la SpO2, la pression artérielle, la fréquence cardiaque, la dyspnée et la synchronie patient- ventilateur (toutes les 15 minutes la première heure, puis toutes les heures)  </td>
        </tr>
        <tr style="border: 1px solid;">
            <td style="border: 1px solid;">15 </td>
            <td>Envisager une analgésie ou une sédation légère en cas de douleurs ou d’agitation extrême (avec une surveillance rapprochée)  </td>
        </tr>
        <tr style="border: 1px solid;">
            <td style="border: 1px solid;">16 </td>
            <td>Réévaluer le confort du patient, l’existence de fuites, l’interface choisie  </td>
        </tr>
        <tr style="border: 1px solid;">
            <td style="border: 1px solid;">17 </td>
            <td>Faire un prélèvement de gaz du sang au cours de la première heure sous VNI  </td>
        </tr>
        <tr style="border: 1px solid;">
            <td style="border: 1px solid;">18 </td>
            <td>Prévoir une durée de 60-90 minutes par séance toutes les 3 heures avec une durée minimale de 6 heures par 24 heures  </td>
        </tr>
    </table>


</div>