<div class="container">
    <h1>Lavage des Mains</h1>
    <h2>Définition</h2>
    <div class="grid-container">
        <div class="grid-item item1">
            <p>Le lavage des mains est un acte d'hygiène fondamental, consistant à se mouiller, savonner rincer et sécher les mains pour se débarrasser de la saleté et réduire la flore bactérienne sur la peau.</p>
        </div>
        <div class="grid-item item2">
            <img src="../../../assets/chap1_1.png" alt="lavage des mains" class="img1">
        </div>
    </div>
    <h2>Indications</h2>
    <p>Ce processus, à la fois mécanique et chimique, permet, selon la méthode utilisée : </p>
        <ul><li>De réduire ou d'éliminer la flore bactérienne transitoire présente sur la peau.</li>
            <li>De diminuer la quantité de bactéries résidentes sur la peau. </li>
            <li>L'hygiène des mains est un devoir professionnel au cœur de la lutte contre les infections associées aux soins (IAS). </li>
            <li>Il convient d'adapter la technique d'hygiène des mains en fonction du geste effectué et du niveau.</li>
            <li>De risque infectieux. 
        </ul>
    <h2>Déroulement</h2>
    <h3>Lavage hygiénique</h3>
    <table >
        <tr style="border: 1px solid;">
            <td style="border: 1px solid;">Objectifs </td>
            <td>Suppression des germes transitoires.</td>
        </tr>
        <tr style="border: 1px solid;">
            <td style="border: 1px solid;">Matériel </td>
            <td>•	Point d’eau. 
                •	Distributeur de savon liquide. 
                •	Essuies mains à usage unique. 
                •	Poubelle à pédale. 
            </td>
        </tr>
        <tr style="border: 1px solid;">
            <td style="border: 1px solid;">Indications </td>
            <td>•	Arrivée et sortie du service 
                •	Après toilette et mouchage 
                •	Avant repas et administration de thérapeutique 
            </td>
        </tr>
        <tr style="border: 1px solid;">
            <td>Déroulement </td>
            <td style="border: 1px solid;">•	Savonner toutes les surfaces de la main jusqu'aux avant-bras 
                •	Rincer abondamment à l'eau courante 
                •	Sécher minutieusement avec serviette à usage unique 
                •	Fermer le robinet à l'aide de la serviette 
            </td>
        </tr>
        <tr style="border: 1px solid;">
            <td style="border: 1px solid;">Temps </td>
            <td>1 Minute </td>
        </tr>
    </table>
    <div class="grid-container">
        <div class="grid-item item2">
            <img src="../../../assets/chap1_2.png" alt="">
        </div>
        <div class="grid-item item1">
            <ul>
                <li>Enlever sa montre et ses bagues, </li>
                <li>Rouler ses manches jusqu’à l’avant- bras, </li>
                <li>Se mouiller les mains jusqu’au poignet, </li>
                <li>Appliquer suffisamment de savon pour couvrir toute la surface des mains, </li>
                <li>Faire pénétrer le savon autour et sous les ongles, entre les articulations et les doigts,</li>
                <li>Frotter comme sur le schéma ci- joint, </li>
                <li>Rincer à l’eau pour faire disparaître toutetrace de mousse, </li>
                <li>S’essuyer les mains avec une serviette propre ou une serviette en papier, en séchant bien entre les doigts. </li>
            </ul>
        </div>
    </div>


    <h3>Lavage antiseptique</h3>
    <table >
        <tr style="border: 1px solid;">
            <td style="border: 1px solid;">Objectifs </td>
            <td>Suppression des germes transitoires et réduction des germes résidents </td>
        </tr>
        <tr style="border: 1px solid;">
            <td style="border: 1px solid;">Matériel </td>
            <td>Solution hydro- alcoolique
                (Ne pas utiliser d’eau, ni d’essuie mains).
            </td>
        </tr>
        <tr style="border: 1px solid;">
            <td style="border: 1px solid;">Indications </td>
            <td>Avant et après un soin
                Auprès de malade contagieux (entrée et sortie de chambre)            
            </td>
        </tr>
        <tr style="border: 1px solid;">
            <td>Déroulement </td>
            <td style="border: 1px solid;">Idem que lavage hygiénique mais avec une solution antiseptique
            </td>
        </tr>
        <tr style="border: 1px solid;">
            <td style="border: 1px solid;">Temps </td>
            <td>3 minutes </td>
        </tr>
    </table>
    <img src="../../../assets/chap1_3.png" alt="">
    <ul>
        <li>1.	Versez la quantité nécessaire de gel antibactérien dans le creux de votre main (environ 3 ml) </li>
        <li>2.	Frictionner les mains paume contre paume</li>
        <li>3.	Frictionner le dos de la main </li>
        <li>4.	Frictionner les espaces interdigitaux dessus et dessous et nettoyer les ongles </li>
        <li>5.	Frictionner le dos des doigts en les tenant en crochet </li>
        <li>6.	Frictionner les doigts en les entrelaçant </li>
        <li>7.	Frictionner autour et au-dessus des pouces en faisant des rotations </li>
        <li>8.	Frictionner les poignets </li>
        <li>9.	Ne pas rincer vos mains </li>
        <li>10.	Ne pas sécher vos mains </li>
    </ul>
    <h3>Lavage chirurgicale</h3>
    <table >
        <tr style="border: 1px solid;">
            <td style="border: 1px solid;">Objectifs </td>
            <td>Idem antiseptique mais de façon prolongée et plus "poussée". </td>
        </tr>
        <tr style="border: 1px solid;">
            <td style="border: 1px solid;">Matériel </td>
            <td>•	Eau stérile. 
                •	Savon antiseptique. 
                •	Brosse à ongles stérile à usage unique. 
                •	Essuie- mains stériles.             
            </td>
        </tr>
        <tr style="border: 1px solid;">
            <td style="border: 1px solid;">Indications </td>
            <td>Avant toute chirurgie ou acte invasif  
            </td>
        </tr>
        <tr style="border: 1px solid;">
            <td>Déroulement </td>
            <td style="border: 1px solid;">Mouiller les mains 
                •	Appliquer du détergent bactéricide 
                •	Faire mousser en gardant les mains au-dessus du niveau des coudes 
                •	Frictions allant des doigts vers les coudes 
                •	Brosser les ongles 
                •	Rincer à l'eau filtrée 
                •	Sécher minutieusement avec serviette stérile 
                •	Ne plus rien toucher             
            </td>
        </tr>
        <tr style="border: 1px solid;">
            <td style="border: 1px solid;">Temps </td>
            <td>> 5 minutes  </td>
        </tr>
    </table>
    <div class="grid-container">
        <div class="grid-item item2">
            <img src="../../../assets/chap1_4.png" alt="">
        </div>
        <div class="grid-item item1">
            <ul>
                <li>1.	Mouiller les mains et les avant-bras. </li>
                <li>2.	Prendre le savon antiseptique dans le creux de la main, à l’aide d’un distributeur de savon sans contact. </li>
                <li>3.	Savonner pendant au minimum 60 secondes toutes les surfaces des mains </li>
                <li>4.	Brosser les ongles avec une brosse à usage unique au minimum 30 secondes par main </li>
                <li>5.	Rincer abondamment en partant des doigts et en remontant vers les coudes, pendant au minimum 1 minute </li>
                <li>6.	Renouveler toutes les étapes précédentes. </li>
                <li>7.	Sécher avec un essuie-tout stérile par tapotement, en partant des doigts et en finissant par les coudes. </li>
                <li>8.	Si le robinet d’eau n’est pas automatique, le fermer en utilisant un essuie-tout (pas de contact avec les mains). </li>
                <li>9.	Jeter les essuie-tout dans une poubelle à commande non manuelle. </li>

            </ul>
        </div>
    </div>
    
</div>