<div class="container">
    <h1>Cathétérisme intra-osseux</h1>
    <h2>Définition</h2>
    <div class="grid-container">
        <div class="grid-item item2">
            <img src="../../../assets/chap5_1.png" alt="">
        </div>
        <div class="grid-item item1">
            <p>Le cathéter intra-osseux est un accès vasculaire périphérique d'urgence, utilisé lors d'un arrêt cardio-respiratoire ou d'un état de choc mettant en danger le pronostic vital. Il permet l'administration de médicaments ou de perfusions, ainsi que le prélèvement de sang pour des examens. 

                La voie IO est rapide, sûre et associée à moins de complications qu’un cathéter veineux central.  
                 
                La liste suivante indique le site et les vaisseaux drainants pour les sites les plus couramment utilisés : <br>
                •	Tibia proximal-Veine poplitée <br>
                •	Fémur - Branches de la veine fémorale <br>
                •	Tibia distal (malléole interne) -Veine saphène interne <br>
                •	Humérus proximal - Veine axillaire <br>
                •	Manubrium (partie supérieure du sternum) : veines mammaires internes et azygos. <br> 
            </p>
        </div>
    </div>
    <img src="../../../assets/chap5_2.png" alt="">
    <p>Le sang s'écoule des sinusoïdes situées dans la cavité médullaire vers le canal veineux central, puis dans les vaisseaux principaux via les veines corticales.</p>
    <h2>Dispositifs intra-osseux</h2>
    <p>Différents types de cathéters intra osseux existent : manuels, à ressort et motorisés.  

        <br>Le modèle disponible et validé au niveau du CHU Mohammed 6 de Marrakech est le système EZ-IO 
        <br>Ce sont des aiguilles à entrainement motorisé avec une perceuse. Le système EZ-IO® peut s’utiliser sur des patients dès 3 kg (nouveau-né), mais il est recommandé de l’utiliser à partir de 10 kg (1an). 
        
        <br>Trois aiguilles EZ-IO® sont disponibles. Le choix de l’aiguille dépendra des indications fournies sur l’emballage et du site de ponction  
    </p>
    <img src="../../../assets/chap5_3.png" alt="">
    <p>
        Le choix de l’aiguille EZ-IO® dépendra aussi de l’épaisseur des tissus entre la peau et l’os. Un repère noir représentant 5 mm doit être visible avant l’insertion de l’aiguille dans l’os.
    </p>
    <img src="../../../assets/chap5_4.png" alt="">
    <h2>Indications et contre-indications</h2>
    <h3>1.	Indications : </h3>
    <p>1.	En cas de menace vitale immédiate, il est crucial d'obtenir un accès vasculaire rapidement, avant même d'envisager la pose d'une voie veineuse périphérique, afin de ne pas retarder l'administration des traitements selon les protocoles de l'Advanced Trauma Life Support. 
        <br>2.	Lorsque deux voies veineuses périphériques ont échoué, l'arrêt cardio-circulatoire représente une indication majeure pour le cathétérisme intra-osseux. 
        <br>3.	Autres situations d'urgence : 
        <br>En plus des situations mentionnées ci-dessus, le cathétérisme intra-osseux peut être nécessaire dans d'autres contextes, notamment en préhospitalier ou en salle de déchoquage, pour traiter des états de choc graves tels que l'hypovolémie, l'hémorragie ou l'état septique. 
    </p>
    <h3>2.	Contre-indications : </h3>
    <p>1.	Présence d'une atteinte vasculaire, cutanée (telle qu'une brûlure ou une infection) ou osseuse du membre, comme dans les cas d'ostéoporose ou d'ostéogénèse imparfaite. 
        <br>2.	Fracture de l'os concerné. 
        <br>3.	Os ayant déjà subi une perforation, ce qui augmente le risque d'extravasation due à une perforation antérieure. 
    </p>
    <h2>Complications</h2>
    <p>•	Fracture de l'os perforé <br>
        •	Transfixion de l'os <br>
        •	Atteinte du cartilage de croissance <br>
        •	Extravasation autour du point d'insertion <br>
        •	Infiltration sous périostée ou sous-cutanée <br>
        •	Lésion épiphysaire <br>
        •	Syndrome des loges : ischémie musculaire causée par une augmentation anormale de la pression dans une loge musculaire. <br>
        •	Infections : périostite, cellulite, abcès sous-cutané, ostéomyélite <br>
        •	Embolie graisseuse (risque accru après l'âge de 6 ans) <br>
        •	Obstruction de l'aiguille par la moelle osseuse, un fragment osseux ou un tissu. <br>
        •	Douleur, particulièrement si le patient est conscient et sans anesthésie locale. <br>
    </p>
    <h2>Site de ponction</h2>
    <p>Différents sites de ponction sont disponibles en fonction de l'âge du patient et du type de matériel utilisé : 

        <br>•	Pour les enfants, les sites privilégiés, dans l'ordre, sont : le tibia proximal, le tibia distal, le fémur distal, la tête de l'humérus (pour les enfants de plus de 5 ans), et rarement l'épine iliaque supérieure antérieure. 
        <br>•	Chez les adultes, les sites de prédilection sont, par ordre de priorité : le tibia proximal, la tête de l'humérus, le tibia distal. 
        <br>•	Certains sites ne peuvent être utilisés qu'avec un type spécifique de matériel : la tête humérale est exclusivement réservée au système EZ-IO, tandis que la crête iliaque est utilisable uniquement avec le système Cook.
    </p>
    <img src="../../../assets/chap5_5.png" alt="">
    <img src="../../../assets/chap5_6.png" alt="">
    <img src="../../../assets/chap5_7.png" alt="">
    <img src="../../../assets/chap5_8.png" alt="">
    <h2>Matériel nécessaire</h2>
    <p>•	Champs stériles <br>
        •	Antiseptique en solution moussante, Antiseptique en solution alcoolique de la même famille <br>
        •	Compresses stériles <br>
        •	Produit hydroalcoolique <br>
        •	Aiguilles EZ-IO adaptées +perceuse <br>
        •	Raccord EZ-connect <br>
        •	Fixateur EZ-stabilizer <br>
        •	2 seringues de 10ml <br>
        •	NaCl 0,9% <br>
        •	Billot réalisé avec linge roulé ou coussin de sable (tibial proximal) <br>
        •	Conteneur à OPCT, sacs à ordures ménagères et sacs à DASRI <br>
        •	Pour la gestion de la douleur pour patient conscient : <br>
        •	Lidocaïne 1 ou 2% pour injection sous cutanée <br>
        •	Seringue de 2 ml <br>
        •	Pour enlever la douleur liée à l’injection intra osseuse : <br>
        •	Lidocaïne 1 ou 2% pour injection IO <br>
        •	Seringue de 2ml <br>
        •	NaCl 0,9% <br>
        •	Seringue pour flush de NaCl 0,9% <br>
        •	Pour habillage de l’opérateur et l’aide : <br>
        •	OPERATEUR : charlotte, masque chirurgical, casaque stérile, gants stériles <br>
        •	AIDE : charlotte, masque chirurgical <br>
    </p>
    <h2><br>Déroulement du geste</h2>
    <p> <br>1.	Réaliser une friction avec le PHA 
        <br>2.	Réaliser l’antisepsie cutanée en 4 temps : 
        <br>•	Détersion avec un antiseptique en solution moussante 
        <br>•	Rinçage 
        <br>•	Séchage avec compresses stériles 
        <br>•	Antisepsie avec un antiseptique de même famille 
        <br>•	Attendre le séchage complet spontané (ne pas essuyer) 
        <br>•	2ème antisepsie avec un antiseptique de même famille 
        <br>•	Attendre le séchage complet spontané (ne pas essuyer) 
        <br>3.	Préparer le matériel pour la pose de voie intra-osseuse 
        <br>4.	Réaliser une friction chirurgicale avec le PHA 
        <br>5.	S’habiller de façon aseptique 
        <br>6.	Installer les champs stériles de façon à protéger la zone de ponction 
        <br>7.	Faire une deuxième application d’antiseptique, attendre le séchage complet 
        <br>8.	Si le patient est conscient et que la situation le permet, on peut réaliser une anesthésie locale (lidocaïne sous cutanée) 
        <br>9.	Réaliser la pose du cathéter intra osseux, fixer le cathéter (selon les préconisations du fabriquant) : 
        <br><i>Etape 1 </i>: Enfoncez doucement l’aiguille dans la peau jusqu’à ce que l’extrémité touche l’os. Le repère noir à 5 mm sur l’aiguille doit être visible au-dessus de la peau avant l’insertion. Appuyez sur le bouton de la perceuse, appliquez une pression légère constante, arrêtez lorsqu’une perte de résistance est ressentie et éventuellement un « poc » est entendu. 
        <br><i>Etape 2 </i>: Stabilisez l’embase, puis retirez le dispositif d’insertion et le mandrin. Placez le mandrin dans un conteneur approprié pour objets tranchants. 
        <br><i>Etape 3 </i>: Placez le dispositif de fixation EZ-Stabilizer sur l’embase du cathéter. 
        <br><i>Etape 4 </i>: Fixez fermement le prolongateur purgé sur l’embase du cathéter en laissant le clamp ouvert. 
        <br><i>Etape 5 </i>: Retirez l’adhésif à l’arrière du dispositif de fixation EZ-Stabilizer et placez-le sur la peau. 
        <br><i>Etape 6 </i>: Confirmez le bon positionnement. Rincez le cathéter EZ-IO avec du NaCl 0,9% (5-10 ml pour les adultes ; 2-5 ml pour les enfants). Avant le rinçage, envisagez l’utilisation en IO d’une solution de lidocaïne à 2 % 
        <br><i>Etape 7 </i>: Administrez les solutés et médicaments conformément aux indications (même dose, vitesse, concentration que la VVP). 
        <br>10.	Eliminer le reste des déchets selon le protocole en vigueur dans l’établissement 
        <br>11.	Réaliser une friction avec le PHA
    </p>
    <h2>Manipulation et surveillance</h2>
    <h3>1.	Manipulation </h3>
    <p>-	L’administration de volumes de remplissage rapide doit être réalisée à la seringue (patient < 10 kg) ou à la manchette à pression (patient > 10 kg). 
        <br>-	L’administration de solutés en débit libre est contre-indiquée et risque de ne pas pouvoir fonctionner à cause des résistances osseuses. 
        <br>-	Toujours rincer le cathéter et le raccord avec du NaCl 0,9% entre deux médicaments ou solutés de différentes natures. 
        <br>-	Afin d’éviter le risque de nécrose médullaire, toujours rincer le cathéter avec du NaCl 0,9% après l’administration de produits hypertoniques (ex : Glucose dès concentration à 10%, Mannitol®) ou produits alcalins (ex : NaBic 4,2 % ou 8,4%) car risque de nécrose médullaire
    </p>
    <h3>2.	Surveillance :</h3>
    <p>-	Coloration du membre. 
        <br>-	Pouls distal du membre. 
        <br>-	Apparition d’un œdème sous-cutané ou de la musculature. 
        <br>-	Position de l’aiguille (doit tenir seule). 
        <br>-	Perméabilité de la voie. 
        <br>-	Site de ponction. 
    </p>
    <h2>Retrait du cathéter </h2>
    <p>Le cathéter intra osseux doit être retiré : 
        <br>-	Dès que le patient est stabilisé, 
        <br>-	Dès l’obtention d’un autre accès vasculaire 
        <br>-	Après un délai maximal de 24 heures. 
    </p>
    <img src="../../../assets/chap5_9.png" alt="">

</div>
