<div class="remerciement-container">    
    <div class="professor-list">
        <p><strong>Monsieur le Professeur Hicham NEJMI</strong>Professeur d’enseignement supérieur<br>Chef de service des urgences-SAMU à l’hôpital ARRAZI</p>
        
        <p><strong>Monsieur le Professeur Taoufik ABOU EL HASSAN</strong>Professeur d’enseignement supérieur<br>Service des urgences-SAMU, hôpital ARRAZI</p>
    
        <p><strong>PROFESSEUR HACHIMI ABDELHAMID</strong>Professeur en Réanimation médicale<br>CHU Mohammed VI – Marrakech</p>
    
        <p><strong>Professeur RAIS Hanane</strong>Chef de service et Professeur de l’enseignement supérieur<br>d’anatomie pathologique au CHU Mohammed VI de Marrakech</p>
    
        <p><strong>PROFESSEUR ADARMOUCH LATIFA</strong>PROFESSEUR AGRÉGÉE EN ÉPIDÉMIOLOGIE AU SERVICE<br>DE RECHERCHE CLINIQUE CHU MOHAMED VI MARRAKECH</p>
      </div>
    
      <div class="thank-you-message">
        <p>Je tiens à vous exprimer, de tout cœur, ma plus profonde gratitude pour l'inestimable contribution que vous avez apportée à notre guide pratique ainsi qu'à l'application mobile dédiée à la médecine. Vous avez été les gardiens du savoir, transmettant avec passion la flamme de cette noble discipline.
            Grâce à vous, les générations futures bénéficieront d’un outil concret et performant, qui enrichira leur apprentissage et renforcera leur compréhension des gestes médicaux en urgence. Votre dévouement et vos conseils avisés ont permis de façonner ce projet en un support éducatif durable et accessible à tous.
            Je vous réitère mes remerciements pour le temps, l'énergie, et l'engagement que vous avez généreusement consacrés à ce projet. Ce fut un honneur de collaborer avec vous, et nous espérons vivement avoir l'opportunité de poursuivre cette collaboration à l'avenir.
            Veuillez agréer, cher Professeur, l'expression de mon profond respect et de mes sincères salutations.
            </p>
      </div>
  
    <button class="back-button"><a href="/">Retour à l'accueil</a></button>
  </div>
  