<div class="container">
    <h1>Cathétérisme veineux central</h1>
    <h2>Définition</h2>
    <div class="grid-container">
        <div class="grid-item item2">
            <img src="../../../assets/chap6_1.png" alt="">
        </div>
        <div class="grid-item item1">
            <p>Un cathéter veineux central (CVC) est un dispositif médical inséré par un médecin dans le système veineux profond, tel que la veine sous-clavière, la veine jugulaire ou la veine fémorale, par voie percutanée. Ces cathéters sont généralement placés soit en situation d'urgence, soit pour un traitement planifié. </p>
        </div>
    </div>
    <img src="../../../assets/chap6_2.png" alt="">
    <h2>Indications et contre-indications</h2>
    <h3>1.	Indications :  </h3>
    <p>En situation d'urgence, un cathéter veineux central (CVC) est utilisé pour : 
        <br>o	Surveillance hémodynamique, notamment la mesure de la pression veineuse centrale (PVC). 
        <br>o	Thérapie intraveineuse pour des durées prévues généralement inférieures ou égales à 14 jours. 
        <br>o	Administration de médicaments vaso-actifs ou phlébogènes tels que les vasopresseurs, lachimiothérapie, les solutions hypertoniques, etc. 
        <br>o	Administration intraveineuse simultanée de médicaments incompatibles. 
        <br>o	Alimentation parentérale. 
        <br>o	Préservation ou utilisation en cas de défaillance du capital veineux périphérique. 
    </p>
    <h3>2.	Contre-indications : </h3>
    <p>Même si la pose d’une voie centrale est souvent indiquée en cas d’engagement du pronostic vital, dans certaines situations la pose d’une voie centrale n’est pas recommandée 
        <br>o	Infection au site d'insertion 
        <br>o	Variation ou obstruction anatomique 
        <br>o	Syndrome de la veine cave supérieure. 
        <br>o	Présence d'une coagulopathie 
        <br>o	Présence de fils de stimulation ou de tout autre cathéter à demeure au site d'insertion. 
        <br>o	Patient avec dispositif d'assistance ventriculaire droit. 
    </p>
    <h2>Complications</h2>
    <p>Les complications des abords veineux sont extrêmement nombreuses et très diverses. </p>
    <h3>1.	Complications Infectieuses : </h3>
    <p>Les complications infectieuses les plus fréquentes sont la colonisation du cathéter et la bactériémie. 
        <br>o	Les principaux facteurs de risque sont : 
        <br>o	Le site de ponction (fémoral >jugulaire >sous-clavier). 
        <br>o	La pose du cathéter en urgence. 
        <br>o	Le manque d’expérience de l’opérateur. 
        <br>o	Une durée de cathétérisme prolongée (> 7 jours). 
        <br>o	L’état physique du patient. 
        <br>o	La nutrition parentérale. 
    </p>
    <h3>2.	Complications non infectieuses : </h3>
    <p>Les principales complications non infectieuses liées au cathétérisme veineux sont rassemblées dans le tableau suivant </p>
    <table >
        <tr style="border: 1px solid;">
            <td style="border: 1px solid;">Complications de ponction  </td>
            <td>•	Ponction artérielle 
                <br>•	Hématome 
                <br>•	Hémothorax 
                <br>•	Chylothorax 
                <br>•	Effusion médiastinale ou pleurale 
                <br>•	Pneumothorax 
                <br>•	Blessure nerveuse (plexus brachial, ganglion stellaire) 
                <br>•	Embolie gazeuse 
                <br>•	Embolie de cathéter cisaillé 
            </td>
        </tr>
        <tr style="border: 1px solid;">
            <td style="border: 1px solid;">Complications liées à l’insertion du cathéter  </td>
            <td><br>•	Perforation cardiaque 
                <br>•	Troubles du rythme cardiaque 
                <br>•	Bloc de branche 
            </td>
        </tr>
        <tr style="border: 1px solid;">
            <td style="border: 1px solid;">Complications d’entretien  </td>
            <td><br>•	Thrombose et thromboembolie 
                <br>•	Endocardite 
                <br>•	Troubles du rythme cardiaque                 
            </td>
        </tr>
    </table>
    <h2>Technique de pose, utilisation et ablation</h2>
    <h3>1.	Choix du cathéter : </h3>
    <p>Il existe plusieurs types de cathéters : 
        <br>o	Cathéter à émergence cutanée. 
        <br>o	Cathéter de HickmanBoviac 
        <br>o	Cathéter de Groshong 
        <br>o	Cathéter multi lumières (Le cathéter de choix en réanimation) 
        <br>o	Cathéter à site d’injection implantable. 
         
        <br><br>Le choix est basé sur l'évaluation clinique et les besoins du patient. Il dépend généralement des lumières, de la longueur, la durée prévue de l’abord veineux, de la voie d'abord et des cathéters à revêtement spécialisé. 
        <br>o	En fonction de la lumière du cathéter : Cathéter à lumière unique ou multiple. Le choix se fait en fonction des besoins (nombre de médicaments incompatibles, nutrition parentérale, etc.)  
        <br>o	Cathéter imprégné de médicaments : 
        <br>-	Antimicrobiens (minocycline / rifampicine) 
        <br>-	Antiseptiques (Chlorhexidine /la sulfadiazine d'argent) 
        <br>-	Héparine 
        
        <br><br>Afin de réduire les risques de contaminations et de complications thrombotiques liées aux cathéters.
        <br>•	En fonction des matériaux : Le cathéter doit être 
        <br>-	Biocompatible 
        <br>-	Hémocompatible 
        <br>-	Peu thrombogène 
        <br>-	Biostable 
        <br>-	Chimiquement inerte 
        <br>-	Souple 
        <br>-	Flexible 
        <br>-	Solide 
        <br>-	Radio-opaque 
        <br>-	Stérilisable 
         
        <br><br>Les 2 biomatériaux répondant le mieux à ces critères sont le polyuréthane et le silicone, le polyuréthane est à privilégier car il permet des débits plus élevés.  
        <br>•	En fonction de la longueur du cathéter : Si le cathéter est trop court, il n’atteindra pas la veine cave et sera donc non fonctionnel. À l’inverse, si le cathéter est trop long, il pourra entraîner des lésions cardiaques. La longueur nécessaire du CVC peut être obtenue par la méthode de Pérès :  
    </p>
    <div class="grid-container1" style="border: 1px solid;">
        <div class="grid-item1 item-0" style="border: 1px solid;">Critère</div>
        <div class="grid-item1 item-1" style="border: 1px solid;">Voie d’abord </div>
        <div class="grid-item1 item-2" style="border: 1px solid;">Taille du patient</div>
        <div class="grid-item1 item3" style="border: 1px solid;">Jugulaire interne Droite</div>  
        <div class="grid-item1 item4" style="border: 1px solid;">Jugulaire interne Gauche </div>
        <div class="grid-item1 item5" style="border: 1px solid;">Sous Clavière Droite </div>  
        <div class="grid-item1 item6" style="border: 1px solid;">Sous Clavière Gauche </div>
        <div class="grid-item1 item3" style="border: 1px solid;">(Taille/10) cm </div>  
        <div class="grid-item1 item4" style="border: 1px solid;">(Taille/10 + 4) cm </div>
        <div class="grid-item1 item5" style="border: 1px solid;">(Taille/10—2) cm </div>  
        <div class="grid-item1 item6" style="border: 1px solid;">(Taille/10 + 2) cm </div>
    </div>
    <h3>2.	Choix du site de ponction </h3>
    <p>Pour un abord veineux profond, le choix du site d'insertion parmi les différentes voies (jugulaire, sous-clavière, fémorale, axillaire) dépend de l'anatomie du patient et de l'expérience du praticien. Privilégier la voie sous-clavière réduit les risques d'infection. L'échographie aide à sélectionner le site optimal, tandis que l'état cutané guide entre la voie fémorale et jugulaire. </p>
    <img src="../../../assets/chap6_3.png" alt="">
    <h3>3.	Matériel nécessaire :</h3>
    <table >
        <tr style="border: 1px solid;">
            <td style="border: 1px solid;">Matériel pour le patient </td>
            <td>-	Alèse à poser entre les omoplates (en cas de pose de cathéter sous-clavier) 
                <br>-	Monitoring	ECG, tension et oxymétrie pour surveillance du rythme cardiaque et des paramètres vitaux 
            </td>
        </tr>
        <tr style="border: 1px solid;">
            <td style="border: 1px solid;">Matériel pour l’opérateur </td>
            <td>-	Opérateur : Masque, bonnet, blouse stérile, deux paires de gants stériles 
                <br>-	Aide : Masque chirurgical, bonnet, gants propres                 
            </td>
        </tr>
        <tr style="border: 1px solid;">
            <td style="border: 1px solid;">Matériel pour la désinfection et l’anesthésie locale </td>
            <td>-	Antiseptique à base de Chlorhexidine ou d’iode (en solution moussante et alcoolique) 
                <br>-	Compresses stériles 
                <br>-	Champs stériles 
                <br>-	Aiguilles, seringues et anesthésique local                  
            </td>
        </tr>
        <tr style="border: 1px solid;">
            <td>Matériel pour la ponction </td>
            <td style="border: 1px solid;">-	Set de ponction avec seringues, aiguilles, introducteur métallique, lame de bistouri, dilatateur, cathéter, fil de Mersilène 3.0 serti 
                <br>-	Pansement transparent stérile semi-perméable 
                <br>-	NaCl 0,9%, flacon de 50 ml avec transfert-set                 
            </td>
        </tr>
    </table>
    <img src="../../../assets/chap6_4.png" alt="">
    <h3>4.	Préparation du site de ponction : </h3>
    <h3>a.	Position du malade : </h3>
    <p>L’ajustement de la position du patient dépend du site de ponction choisi, nous allons s’intéresser à la voie sous claviculaire vu qu’elle est la voie recommandée en première intention. 
        <br>o	Le patient est étendu en décubitus dorsal strict, les bras le long du corps, la tête en légère extension et tournée du côté opposé à la ponction, poser une alèse entre les omoplates pour mieux écarter les épaules et faciliter la ponction.  
        <br>o	La position déclive de Trendelenburg (20 à 30°) du patient facilite la ponction et limite le risque d'embolie gazeuse. 
    </p>
    <h3>b.	Antisepsie cutanée : </h3>
    <p>Privilégier la non-dépilation (tondeuse à défaut) 
        <br>Réaliser une antisepsie large en 4 temps du lieu de prélèvement (technique de l’escargot) avec 2 badigeons d’antiseptique : 
        <br>o	Détersion avec un antiseptique en solution moussante 
        <br>o	Rinçage à l’eau stérile 
        <br>o	Séchage avec compresses stériles 
        <br>o	Antisepsie avec un antiseptique de même famille 
        <br>o	Attendre le séchage complet spontané (ne pas essuyer) 
        <br>o	2ème antisepsie avec un antiseptique de même famille 
        <br>o	Attendre le séchage complet spontané (ne pas essuyer) 
        <br>
        <br>Sur la peau saine, utiliser un antiseptique alcoolique à base de Chlorhexidine ou d’iode ; pour des peaux brûlées ou abrasées, utiliser un antiseptique aqueux toujours à base de Chlorhexidine ou d’iode.  
    </p>
    <h3>5.	Déroulement du geste</h3>
    <p>1.	Réaliser une friction avec le PHA 
        <br>2.	Réaliser une large antisepsie cutanée en 4 temps avec la gamme de produits choisis 
        <br>3.	Préparer le matériel pour la pose de voie veineuse centrale 
        <br>4.	Réaliser une friction chirurgicale avec le PHA 
        <br>5.	S’habiller de façon aseptique 
        <br>6.	Installer les champs stériles de façon à protéger la zone de ponction 
        <br>7.	Faire une deuxième application d’antiseptique. Attendre le séchage complet 
        <br>8.	Réaliser la pose du cathéter veineux central 
        <br>9.	Il existe plusieurs voies d’abords (la voie d’Aubaniac, voie de Carl, voie de Yoffa et les voies sous claviculaires externes) nous allons décrire la voie la plus répandue : voie d’Aubaniac. 
        <br>10.	Eliminer immédiatement tous les piquants, coupants, tranchants dans le conteneur adapté
        <br>11.	Adapter l’embout de la perfusion au cathéter, de façon aseptique 
        <br>12.	Poser un pansement stérile transparent et semi-perméable de préférence 
        <br>13.	Eliminer le reste des déchets selon le protocole en vigueur dans l’établissement 
        <br>14.	Réaliser une friction avec le PHA 
        <br>15.	Contrôle de la position du cathéter
    </p>
    <div class="grid-container">
        <div class="grid-item item2">
            <img src="../../../assets/chap6_5.png" alt="">
        </div>
        <div class="grid-item item1">
            <p>a. Voie d’Aubaniac
                <br>b. voie de Yoffa
            </p>
        </div>
    </div>
    <p>Un contrôle de la radiographie du thorax doit être effectué après la pose d’un cathéter veineux sous-clavier afin de rechercher l’absence de pneumothorax et de contrôler la bonne position du cathéter. 
        <br>Afin d’éviter toute érosion endovasculaire et effraction intra péricardique, l’extrémité des cathéters veineux insérés dans le territoire cave supérieur doit être située au niveau de la carène. En cas de mauvaise position, le cathéter doit être retiré de quelques centimètres.  
    </p>
    <h3>6.	Utilisation-Manipulation</h3>
    <p>Il est recommandé de désinfecter les embouts et les robinets avant leur manipulation à l’aide d’une compresse stérile imprégnée avec de l’alcool à 70% et de mettre en place un nouveau bouchon obturateur stérile chaque fois que l’accès ou le robinet est ouvert. </p>
    <h3>7.	Surveillance et retrait</h3>
    <p>Surveillance quotidienne du cathéter veineux central : Être attentif aux plaintes du patient : 
        <br>o	Dyspnée, 
        <br>o	Douleur thoracique, 
        <br>o	Hypotension, 
        <br>o	Tachycardie 
        <br> 
        <br>Au niveau du bras situé du même côté : 
        <br>o	Œdème, 
        <br>o	Cyanose 
        <br>o	Dilatation veineuse 
        <br>o	Douleur 
        <br> 
        <br>Le point de ponction : 
        <br>o	Rougeur 
        <br>o	Écoulement 
        <br>o	Douleur 
        <br>o	Fixation du cathéter 
        <br> 
        <br>Perméabilité du cathéter : 
        <br>o	Contrôler le reflux sanguin (sauf contre-indication) et bien rincer la tubulure ensuite avec 20ml de soluté isotonique 
        <br>o	Éviter les pliures et les coudûres du cathéter et de la tubulure.  
        <br>o	Il est recommandé de ne pas changer systématiquement un CVC à intervalle régulier. Changer un CVC en changeant de site en présence de pus au niveau du site d’insertion ou si une bactériémie sur cathéter est suspectée (l’extrémité distale est mise en culture). Le changement sur guide d’un CVC peut être envisagé en cas de suspicion faible ou modérée d’infection et en l’absence de signes locaux francs. 
        <br>L’ablation du cathéter se fait sur prescription médicale lorsque sa présence n'est plus justifiée.
    </p>
</div>