<div class="about-container">
    <h1>À propos de l'application</h1>
  
    <h2>Créateur de l'application</h2>
    <p>
      Cette application a été créée par **Dr. Ibtissam Hsaini**, dans le but de fournir
      des informations et des outils utiles pour les professionnels de la santé et les
      utilisateurs en général.
    </p>
  
    <h2>Guide d'utilisation</h2>
    <p>
      Voici quelques points clés pour utiliser l'application :
    </p>
    <ul>
      <li>Pour accéder aux différentes sections, utilisez le menu de navigation en haut.</li>
      <li>Consultez la section "Mentions légales" pour plus d'informations sur l'utilisation des données.</li>
      <li>Si vous avez des questions, n'hésitez pas à nous contacter via la section "Contact".</li>
      <li>Pour toute suggestion d'amélioration, merci de nous faire part de vos retours !</li>
    </ul>
  
    <button class="btn-back"><a href="/">Retour à l'accueil</a></button>
  </div>
  