<div class="container">
    <h1>Sondage vésical</h1>
    <h2>Définition  </h2>
    <div class="grid-container">
        <div class="grid-item item2">
            <img src="../../../assets/chap14_1.png" alt="">
        </div>
        <div class="grid-item item1">
            <p>Le sondage urinaire est l'introduction d'une sonde dans la vessie via l'urètre, effectuée de manière atraumatique et aseptique pour éviter toute douleur ou complication. Il est utilisé pour soulager une rétention aiguë d'urine, drainer de manière permanente en cas de rétention chronique ou d'incontinence, ou à des fins thérapeutiques telles que le lavage ou l'instillation. Malgré sa perception comme un geste anodin, le sondage vésical peut entraîner des complications graves, notamment des infections urinaires nosocomiales et le syndrome de levée d'obstacle. Ces risques doivent être pris en compte lors de sa mise en œuvre. 
                <br>
                <br>L’urètre masculin présente naturellement à l’état de flaccidité une « courbe » au niveau de sa partie pénienne. Une autre « courbe » se retrouve au niveau de l’urètre bulbaire en dessous du sphincter strié et de la prostate. Ces « courbes », si elles ne sont pas « supprimées » par une préhension correcte de la verge lors du sondage sont sources de difficultés et  de 
                <br>traumatisme dont la conséquence la plus grave à distance est la sténose urétrale. Une des manières de s’affranchir de cette difficulté est de maintenir tout au  long  du  sondage  la  verge  au  zénith . En effet, maintenir cette position de la verge tout au long du sondage permet de supprimer totalement la première « courbe » et d’offrir un trajet plus rectiligne à la sonde lors du passage de l’urètre bulbaire.  
            </p>
        </div>
    </div>
    <h2>Dispositif du sondage urinaire </h2>
    <h3>1.	Les sondes urinaires : </h3>
    <h3>a.	Types de sondes urinaires : </h3>
    <p>On distingue 4 types principaux de sondages réalisés par les voies naturelles : 
        <br>•	Sonde de Foley : Il s'agit d'une sonde urinaire à demeure, qui empêche le tube de glisser vers l'extérieur grâce à un ballon, qui peut être gonflé avec de l'eau stérile. 
        <br>•	Cathéter de Robinson : Il s'agit de cathéters généralement utilisés à court terme ou comme cathétérisme intermittent. Le cathéter est inséré à travers l’urètre jusque dans la vessie, puis il est retiré lorsque la vidange des urines est terminée. 
        <br>•	Sonde béquillée : Ce cathéter est conçu pour les cas où la négociation du cathéter est difficile dans l'urètre prostatique (prostate gonflée) ; la courbure vers le haut de l'extrémité du cathéter facilite le passage à travers la courbure naturelle de l'urètre prostatique. 
        <br>•	Sonde a hémostase prostatique : Il s'agit d'un cathéter à triple ou double lumière utilisé pour les patients ayant subi une TURP afin de contrôler l'hémostase, Il s'agit d'une variante du cathéter de Foley.  
    </p>
    <h3>b.	Taille et longueur </h3>
    <p>Le diamètre du cathéter est mesuré en unités françaises (Fr ou Ch). Le diamètre varie de 6 Fr à 22 Fr. Un code couleur à l'extrémité de l'entonnoir permet d'identifier facilement les différentes tailles de sondes de Foley. 
        <br>
        <br>Les sondes de Foley sont disponibles dans une longueur de 20 à 45 cm. La sonde d'une longueur d’environ 40 cm est utilisée pour les hommes adultes et les sondes de plus petite longueur (20-40 cm) sont utilisés chez les enfants et les femmes. 
    </p>
    <h3>c.	Embouts </h3>
    <p>•	Pointe droite : ce type de sonde de Foley est utilisé pour le cathétérisme normal, pointe est effilée pour passer en douceur dans l'urètre. 
        <br>•	Embout coudé : Ce type de sonde de Foley, dont l'extrémité est courbée, est utilisé dans les cas d'hypertrophie de la prostate ou d'urètre étroit. 
        <br>•	Embout olive : Utilisé chez les femmes.  
    </p>
    <h3>d.	Les matériaux </h3>
    <p>Les cathéters urétraux étaient à l'origine fabriqués en caoutchouc de latex naturel et étaient sujets à l'infection, à la toxicité et à l'hypersensibilité. Le PTFE (polytétrafluoroéthylène) ne présente aucun avantage par rapport au cathéter en latex. Les deux types de cathéters, PTFE et latex peuvent être utilisés pour un cathétérisme à court (< 2 semaines) ou moyen (2 à 5 semaines) terme. 
        <br>Le chlorure de polyvinyle et le polyéthylène sont recommandés pour la période postopératoire à court terme en raison de leur large lumière, qui facilite l'écoulement rapide de l'urine. 
        <br>Pour le cathétérisme à long terme (> 6 semaines), les cathéters en silicone doivent être utilisés. Ces cathéters ont généralement une lumière plus large. Ils réduisent également l'urétrite et diminue les risques de rétrécissement urétral à long terme. 
    </p>
    <h3>e.	Choix de la sonde : </h3>
    <p>Choisir un matériel dont on a l’habitude, adapté aux besoins cliniques et en fonction de la durée prévisible du sondage. Choisir une sonde de diamètre aussi petit que possible ; un ballonnet de 10 ml est habituellement suffisant chez l’adulte ; en urologie un diamètre plus gros et un ballonnet de plus grande contenance sont recommandés. 
    </p>
    <img src="../../../assets/chap14_2.png" alt="">
    <h3>2.	Le système clos : </h3>
    <p>Le sondage vésical en système clos est obligatoire, quelle que soit la durée prévisible du sondage. 
        <br>Il correspond à l’assemblage de deux éléments qu’il ne faut jamais désunir : 
        <br>•	Sonde et collecteur stériles sont assemblés industriellement ou à défaut, par le soignant, avant la pose et retirés ensemble. 
        <br>•	Ils ne doivent jamais être déconnectés pendant la durée du sondage. 
        <br>•	Les prélèvements d’urines s’effectuent sur le site prévu à cet effet. 
        <br>•	La vidange du collecteur s’effectue aseptiquement uniquement par le robinet inférieur. 
        <br>La sonde et le collecteur pré-connectés peuvent être soudés ou bagués (la présence d’une bague plastique intacte garantie que le système n’a jamais été déconnecté).  
    </p>
    <h2>Indications et contre-indications </h2>
    <h3>1.	Indications  </h3>
    <p>•	Rétention urinaire 
        <br>•	Monitoring journalier du débit urinaire pour un bilan hydro-urinaire aux soins intensifs 
        <br>•	Monitoring per- ou postopératoire immédiat 
        <br>•	Post-chirurgie de la prostate, vessie ou chirurgie gynécologique 
        <br>•	Hématurie avec caillots sanguins Immobilisation prolongée (ex : AVC, fracture bassin) 
        <br>•	Incontinence urinaire sévère après échec de prise en charge pharmacologique ou chirurgicale 
        <br>•	Patients avec vessie neurogène ou atteinte de la moelle épinière 
        <br>•	Aide à la cicatrisation de plaies périnéales ou sacrées chez des patients incontinents 
        <br>•	Confort des patients en fin de vie 
        <br>•	Pratiquer une chimiothérapie intra vésicale. 
        <br>•	Le nitratage urétro-vésical : pour le traitement des cystites récidivantes. 
    </p>
    <h3>2.	Contre-indications :  </h3>
    <p>Il y a deux contre-indications formelles : 
        <br>•	Rupture traumatique de l’urètre chez l’homme, associant des signes de rétention aigue d’urine et une urétrorragie ; 
        <br>•	L’urétrite aigue suppurante, car il y a un risque de propagation de l’infection à la vessie. 
    </p>
    <h2>Complications </h2>
    <p>1.	Infection urinaire : Bactériurie asymptomatique, CAUTI (Catheter-associatedurinary tract infection) et pyélonéphrite.  
        <br>2.	Syndrome de levée d’obstacle : L’obstruction des voies excrétrices induit des perturbations fonctionnelles rénales touchants l’hémodynamique rénale, la filtration glomérulaire et les fonctions tubulaires. Malgré la levée de l’obstacle, ces paramètres vont rester perturbés d’autant plus longtemps que l’obstruction aura été prolongée. Sur le plan thérapeutique, plusieurs schémas sont proposés. Le plus simple estd’apporter une base quotidienne de 4 l de sérum salé et de laisser le malade s’ajuster et éliminer la surcharge hydrosodée constituée au cours de la périoded’anurie. Cela nécessite une surveillance biologique et clinique étroite et adaptée de la volémie, du poids et du bilan entrées-sorties.  
        <br>3.	Syndrome d’hyperactivité vésicale : se traduisant cliniquement par une envie d’uriner et/ou une gêne dans la région sus-pubienne.  
        <br>4.	Rétrécissement iatrogène de l’urètre : toute manoeuvre traumatique entraîne une lésion de la muqueuse dont la cicatrisation « anarchique » peut être à l’origine de la sténose. 
        <br>5.	Hématurie à vacuo : En cas de vidange vésicale trop rapide.   Il est conseillé de réaliser une vidange vésicale progressive et de clamper la sonde quelques minutes tous les 500 ml.  
    </p>
    <h2>Technique de pose d’une sonde urinaire </h2>
    <h3>1.	Matériel nécessaire :  </h3>
    <p>-	Des compresses stériles 
        <br>-	Une solution antiseptique type Dakin, les ammoniums quaternaires sont proscrits car susceptibles d’irriter la muqueuse génitale 
        <br>-	Un champ stérile troué 
        <br>-	Gants stériles 
        <br>-	Sonde urinaire de taille adaptée 
        <br>-	Une seringue de gel de lidocaïne pour lubrifier l’urètre sur toute sa longueur et limiter la gêne ou la douleur ressentie par le patient lors du sondage. 
        <br>-	Une seringue d’eau stérile de 5 à 15 ml pour gonfler le ballonnet de la sonde selon les recommandations du fabricant. Le sérum physiologique ne doit pas être utilisé pour gonfler le ballonnet des patients Sondés A Demeure de Longue Durée (SAD-LD) devant le risque théorique de cristallisation de celui-ci et de ne plus pouvoir dégonfler le ballonnet. 
        <br>-	Un collecteur d’urine 
    </p>
    <h3>2.	Précautions : </h3>
    <p>•	Le malade est prévenu du geste qui va être fait et rassuré.  
        <br>•	Dans la mesure du possible, il est préférable que la vessie soit pleine.  
        <br>•	Il est recommandé de choisir une sonde de diamètre aussi petit que possible.  
        <br>•	Réaliser une toilette genito-urinaire préalable au sondage avec un savon doux.  
        <br>•	Réaliser le système clos en adaptant la sonde au sac collecteur d’urines avant introduction de la sonde dans l’urètre [72] et clamper le tube d’évacuation du sac collecteur. 
        <br>•	Il est prudent d’utiliser systématiquement un produit de lubrification (lubrifiant ou gel anesthésique). 
        <br>•	Il est recommandé de remplir le ballonnet avec le volume minimal. 
    </p>
    <h3>3.	Technique chez la femme : </h3>
    <h3>a.	Positionnement de la patiente : </h3>
    <p>•	Installer la patiente en position dorsale (si pas de contre-indications), jambes écartées 
        <br>•	Éventuellement glisser un bassin ou un coussin sous le siège 
        <br>•	La position latérale est une alternative chez des personnes très obèses 
    </p>
    <h3>b.	Désinfection des organes génitaux externes : </h3>
    <p>•	Les grandes lèvres sont désinfectées de haut en bas à l’aide d’une compresse imbibée de solution Dakin ; 
        <br>•	Une autre compresse est ensuite passée sur les petites lèvres, après avoir écarté les grandes lèvres 
        <br>•	Les petites lèvres sont ensuite ouvertes en les maintenant d’une main, tandis qu’une troisième compresse est passée à l’intérieur ; 
        <br>•	Le méat urinaire est repéré et désinfecté. 
        <br>
        <br>Dans tous les cas la désinfection est pratiquée de l’avant vers l’arrière et chaque compresse n’est passée qu’une seule fois. 
        <br>L’opérateur met ensuite des gants stériles et recouvre la surface périnéale avec un champ stérile fendu, à travers lequel seuls les orifices du vagin et de l’urètre restent visibles. 
    </p>
    <h3>c.	Anesthésie locale : </h3>
    <p>Les manœuvres urologiques du bas appareil urinaire sont peu douloureuses chez la femme. L’éventuelle anesthésie préalable ne nécessite que des quantités peu importantes de gel. On enduit le méat de quelques gouttes de Xylocaïne gel et on en injecte une petite quantité dans l’urètre. 
    </p>
    <h3>d.	Introduction de la sonde : </h3>
    <p>La sonde urinaire est saisie avec une compresse sans toucher à ses extrémités. Il est important de découvrir l’orifice urétral et de s’assurer un éclairage correct. La sonde est introduite doucement, béquille en l’air. Elle est enfoncée de 4 à 5 cm environ (sans jamais forcer). En cas de faute d’asepsie ou de fausse route (sonde dans le vagin), changer impérativement tout le système clos. L’urine s’écoule dès que la sonde est dans la vessie. 
        <br>Maintenir la sonde avec la main stérile et remplir le ballonnet avec la quantité d’eau stérile prévue. Retirer délicatement la sonde jusqu’à ce que le ballonnet bute contre le sphincter vésical.  
    </p>
    <h3>4.	Technique chez l’homme : </h3>
    <h3>a.	Positionnement du patient : </h3>
    <p>La position adéquate pour le cathétérisme est le décubitus dorsal, les genoux fléchis et écartés cette manœuvre permet de détendre la vessie et l'urètre.  
    </p>
    <h3>b.	Désinfection des organes génitaux externes : </h3>
    <p>Le méat, le gland le sillon balano-préputial et la verge sont désinfectés par unbadigeonnage soigneux réalisé de l’avant vers l’arrière, à l’aide de compresses stériles imbibées de soluté de Dakin. Le gland est ensuite tenu avec une compresse stérile tandis que la base de la verge, le scrotum et la région pubienne sont désinfectés. 
        <br>L’opérateur enfile des gants stériles et place un champ stérile troué en passant la verge en son centre. 
    </p>
    <h3>c.	Anesthésie locale : </h3>
    <p>Mettre du gel stérile en instillation dans le méat urinaire, d’abord quelques gouttes sur l’entrée de l’urètre ensuite introduire doucement l’embout de la seringue dans le méat et injecter (2-3ml). Respecter 3-5 minutes pour que l’anesthésie locale puisse agir.  
    </p>
    <h3>d.	Introduction de la sonde : </h3>
    <p>Dans un premier temps, l'opérateur qui s'est placé à la droite du patient (s'il est droitier) tend la verge de la main gauche et la maintient au Zénith en exerçant une légère traction. De l'autre main, la sonde est introduite doucement dans le méat et enfoncée sans jamais forcer. 
        <br>Dans un deuxième temps, l'opérateur ressent une certaine résistance (coudure périnéale de l'urètre) et la verge est abaissée et tendue à l’horizontale en augmentant la traction. La sonde arrive alors au niveau du sphincter strié qui est franchi en exerçant une pression un peu plus soutenue et en demandant au malade de se détendre. 
        <br>Un léger ressaut signifie que le col vésical est franchi, en même temps qu'un écoulement d'urine à l'extrémité de la sonde signe la bonne position de celle-ci. 
        <br>Il faut être certain du bon positionnement de la sonde dans la vessie avant de remplir le ballonnet. Il suffit pour cela de l'enfoncer de quelques centimètres supplémentaires après qu'on ait obtenu un flux urinaire franc. Lorsque le ballonnet est gonflé, on s'assure que la sonde glisse facilement par un mouvement de va-et-vient et que le ballonnet vient bien buter sur le col vésical. 
        <br>Après le sondage ne pas oublier de remettre le prépuce (car risque de paraphimosis).  
    </p>
    <h3>5.	Fixation la sonde : </h3>
    <p>Pour éviter les tractions qui entraînent des lésions des muqueuses et une augmentation du risque infectieux. 
        <br>-	Chez la femme : fixer la sonde sur la cuisse 
        <br>-	Chez l'homme : fixer la sonde au niveau de l'abdomen ou sur la cuisse si le sujet est valide. 
        <br> 
        <br>Veiller à ce que la sonde ne passe pas sous la cuisse du patient afin de prévenir la formation d’escarre.  
    </p>
    <h2>Entretien du système de drainage </h2>
    <p>Procéder à un lavage simple ou friction hydroalcoolique des mains avant et après vidange du système ou soins au patient. Respecter le port de gants car les contacts avec un liquide biologique sont possibles (précautions standards). 
    </p>
    <h3>1.	Système de vidange : </h3>
    <p>Utiliser une compresse avec un antiseptique pour la manipulation du système. Respecter le port de gants car les contacts avec un liquide biologique sont possibles (précautions standards) </p>
    <h3>2.	Fréquence de la vidange : </h3>
    <p>-	Certains proposent une vidange toutes les 8 heures, la logique veut, en tout cas, qu'on le fasse lorsque la poche est au 3/4 pleine. 
        <br>-	Penser à vidanger la poche avant un transport du malade en opérant exclusivement par le robinet de vidange. La déconnexion est formellement interdite. 
    </p>
    <h3>3.	Les soins aux malades sondés : </h3>
    <p>•	Ils comportent : 
        <br>-	Le lavage des mains avant et après chaque soin, 
        <br>-	La réalisation d’une toilette 1 fois/jour et au minimum après chaque selle, 
        <br>-	L’utilisation d’un savon doux liquide, 
        <br>-	Le respect de règles lors de la toilette : chez l’homme il est important de décalotter, chez la femme la région périnéale se nettoie du haut vers le bas. 
        <br> 
        <br>•	Ils permettent de contrôler : 
        <br>–	La température du malade, 
        <br>–	L’apport hydrique du patient, 
        <br>–	La fixation de la sonde vésicale sur l’abdomen chez l’homme et sur la cuisse chez la femme, 
        <br>–	L’absence de coude sur la sonde vésicale et sur le tube collecteur, 
        <br>–	Le maintien du sac collecteur en dessous du niveau de la cuisse, 
        <br>–	Le niveau de remplissage du sac collecteur, 
        <br>–	La présence et l’utilisation d’un support du sac collecteur (fixé au lit du patient), évitant que la poche ne soit posée à même le sol. 
        <br>
        <br>•	Changement du matériel : 
        <br> 
        <br>Les indications de ces changements peuvent être : 
        <br>–	La limite d'utilisation d'une sonde, 
        <br>–	La présence d'une obstruction à l'écoulement des urines, 
        <br>–	L'endommagement de la poche ou encore la présence d'urines troubles ou malodorantes, 
        <br>–	La présence d’une infection. 
        <br> 
        <br>Il n'y a pas d'indication en routine de changement du matériel. Dans ces cas de changement, il est impératif de renouveler l'ensemble du système de drainage (sonde + sac collecteur).  
    </p>
</div>