<div class="container">
    <h1>Ponction pleurale </h1>
    <h2>Généralités</h2>
    <div class="grid-container">
        <div class="grid-item item2">
            <img src="../../../assets/chap12_1.png" alt="">
        </div>
        <div class="grid-item item1">
            <p>La ponction pleurale ou thoracentèse consiste en l’insertion d’une aiguille dans l’espace pleural afin de soustraire et d’analyser du liquide pleural. 
                <br>C’est un geste technique simple. Elle est réalisée à titre diagnostique ou thérapeutique. Elle permet l’identification du liquide qui peut être sero-fibrineux, purulent ou hémorragique. Devant un épanchement de grande abondance retentissant sur la fonction respiratoire, elle permet de soulager rapidement le patient.  
            </p>
        </div>
    </div>
    <h2>Dispositifs de ponction </h2>
    <div class="grid-container">
        <div class="grid-item item2">
            <img src="../../../assets/chap12_2.png" alt="">
        </div>
        <div class="grid-item item1">
            <p>On peut utiliser des kits de thoracentèse disponibles dans le marché, contenant un ensemble cathéter-aiguille ou d'autres aiguilles spécialisées, par exemple l'aiguille de sécurité Argyle- Turkel, selon les disponibilités de la structure de santé. 
                <br>Un système simple et peu coûteux peut être assemblé en utilisant un catheter intraveineux 14G ou 18G (Venflon) qui est le plus utilisé et le mieux décrit, un set de perfusion intraveineuse et un robinet à trois voies. 
            </p>
        </div>
    </div>
    <h2>Indications et contre-indications </h2>
    <h3>1.	Indications : </h3>
    <p>•	La ponction pleurale diagnostique : déterminer la nature d’un épanchement pleural. L’analyse du liquide pleural permet notamment de différencier un exsudat d’un transsudat et de pratiquer une analyse microbiologique et cytologique. L’association de la présentation clinique et de l’analyse du liquide pleural permet de poser un diagnostic dans environ 75% des cas. 
        <br>•	La ponction pleurale thérapeutique : 
        <br>•	Évacuer un épanchement pleural liquidien important et/ou symptomatique. 
        <br>•	Dans certaines situations particulières, elle permet l’exsufflation d’un pneumothorax soit en situation d’urgence (pneumothorax sous tension), soit lors d’un premier épisode de pneumothorax primaire spontané.  
    </p>
    <h3>2.	Contre-indications : </h3>
    <p>Les contre-indications à la ponction pleurale sont rares et plus relatives qu’absolues : 
        <br>•	Un très faible volume de l’épanchement exposant au risque de pneumothorax. [58] 
        <br>•	Diathèse hémorragique (plaquettes < 25 000 mm–3, TCA supérieur à 2 fois le témoin ou administration récente de thrombolytiques, TP < 35 %), 
        <br>•	Infections cutanées (herpès ou pyodermagrangrenosum) au point de ponction. 
        <br>•	En réanimation, notamment chez le malade ventilé mécaniquement, c’est le rapport entre le bénéfice attendu et le risque encouru par le patient qui prime. Le fait de suspendre brièvement la ventilation lorsque l’aiguille franchit la plèvre pariétale pourrait limiter le risque de pneumothorax. Mais l’innocuité de la ponction pleurale exploratrice chez le malade sous respiration artificielle fait l’objet d’études aux résultats contradictoires.  
    </p>
    <h2>Complications </h2>
    <p>La thoracentèse est une procédure considérée à bas risque mais elle est tout de même grevée de fréquentes complications, parfois graves. 
        <br>•	La plus fréquente des complications est le pneumothorax. Il sera suspecté par l’aspiration d’air dans le liquide prélevé ou s’il y a apparition de symptômes pendant la ponction. Une radiographie post-ponction est donc toujours indiquée. 
        <br>•	L’infection, les conditions d’asepsie rigoureuse doivent être respectées pendant la réalisation de la ponction. 
        <br>•	Hémothorax ; 
        <br>•	Ponction de la rate ; 
        <br>•	Œdème pulmonaire de ré expansion (qui peut survenir si on retire trop vite plus de 1 000 à 1 500 ml de liquide) ; 
        <br>•	Réaction vasovagale, prévenu par l’atropine (0,5 mg IM en prémédication) et traité par 0,5 à 1mg d’atropine IV ou IM.  
    </p>
    <h2>Technique de ponction</h2>
    <h3>1.	Matériel nécessaire : </h3>
    <p>Le plateau pour la ponction pleurale devrait contenir les éléments suivants : 
        <br>•	Gants stériles, masques chirurgicaux, surblouse 
        <br>•	Compresses stériles, Champ troué stérile autocollant, 
        <br>•	Solution antiseptique (Bétadine ou Chlorhexidine) 
        <br>•	Xylocaïne à 1% , Atropine (1mg) 
        <br>•	Aiguilles : une aiguille SC pour anesthésie du bouton dermique et une aiguille IM (verte) pour anesthésier l’espace intercostal 
        <br>•	Lame de bistouri 
        <br>•	Seringues : 50, 20 et 10 ml 
        <br>•	Aiguille à ponction pleurale, Un robinet à trois voies 
        <br>•	2 Tubes pour prélèvements bactériologiques stériles, 1 tube EDTA et 1 tube sec 
        <br>•	Récipients et tubulures stériles pour recueillir le liquide pleural 
    </p>
    <h3>2.	Mesures précédant le geste : </h3>
    <p>•	Sauf urgence le médecin vérifie la radiographie de thorax du jour, la crase sanguine et le groupe sanguin du patient.  
        <br>•	Le sujet est rassuré et le geste est expliqué ; 
        <br>•	On vérifie l’état clinique : pouls, pression artérielle, auscultation et percussion thoracique ; 
        <br>•	Une prémédication est en principe nécessaire lors de la première ponction et chez un sujet très émotif : Valium 5 à 10mg en IM en demi-heure avant la ponction ou per os une heure avant, et éventuellement atropine 0,5mg IM (cette dernière est très souhaitable en absence de contre-indication, au moins lors de la première ponction).  
    </p>
    <h3>3.	Positionnement du malade : </h3>
    <div class="grid-container">
        <div class="grid-item item2">
            <img src="../../../assets/chap12_3.png" alt="">
        </div>
        <div class="grid-item item1">
            <p>Le positionnement du patient est important pour la réussite de la procédure. 
                <br>De préférence, le malade sera assis au bord du lit, les pieds reposant sur un tabouret et les coudes appuyés sur un oreiller posé sur une table de chevet. Cette table doit être placée assez haut de manière à permettre au malade de bien s’appuyer sur ses avant-bras et de dégager les omoplates qui sont alors déplacées en latéral. 
                <br> 
                <br>On peut également pratiquer la ponction en décubitus latéral (sur le côté malade), l’épanchement localisé vers le bas et le dos au bord du lit (le site de ponction dans cette position sera la ligne axillaire postérieure au niveau de la partie déclive). Une autre alternative est de placer le patient en décubitus dorsal, la tête surélevée le plus possible (dans cette position le site de ponction se situe au niveau de la ligne axillaire moyenne). Dans ces deux positions, le niveau de l’épanchement sera repéré cliniquement par la matité à la palpation.  
            </p>
        </div>
    </div>
    <h3>4.	Repérage du site de ponction : </h3>
    <div class="grid-container">
        <div class="grid-item item2">
            <img src="../../../assets/chap12_4.png" alt="">
        </div>
        <div class="grid-item item1">
            <p>La hauteur de l’épanchement est repérée cliniquement par la matité à la percussion. Le site de ponction se situe en dessous de la zone de transition entre la sonorité pulmonaire normale et la zone de matité correspondant à l’épanchement, au niveau de la ligne médiane passant par la pointe de l’omoplate ou le long de la ligne axillaire postérieure. Les ponctions pleurales sont habituellement pratiquées environ deux à trois espaces intercostaux sous la pointe de l’omoplate. 
                <br>En pratique entre le 4e et le 6e espace intercostal sur la ligne axillaire moyenne ou postérieure.
                <br>Dans tous les cas, le niveau inférieur à ne pas dépasser est le 8e espace intercostal postérieur. [58][62] 
                <br>Le futur point de ponction doit être marqué. 
            </p>
        </div>
    </div>
    <h3>5.	Asepsie et anesthésie locale : </h3>
    <p>Le geste doit être effectué en respectant strictement les règles d’asepsie 
        <br>•	L’aide opératoire se place face au patient pour le tranquilliser et s’assurer qu’il maintienne la position. 
        <br>•	Après avoir réalisé un lavage chirurgical des mains, l’opérateur s’habille stérilement (avec des gants stériles, une surblouse, un masque facial et un callot), désinfecte largement la zone du point de ponction avec une solution antiseptique, et y applique un champ troué stérile. 
        <br>•	On procède à l’anesthésie locale de l’espace intercostal qui est repéré avec le doigt. On infiltre, plan par plan, avec de la Xylocaïne (0,5 à 2 ml) d’abord le derme qui se soulève et prend un aspect de peau d’orange via une fine aiguille (25G), puis, l’anesthésie est réalisée plan par plan du derme à la plèvre par une aiguille (22G) insérée perpendiculairement au niveau du point de ponction en prenant soin de rester près du bord supérieur de la côte délimitant la partie inférieure de l’espace intercostal afin d’éviter d’embrocher le paquet vasculonerveux. Il faut alterner entre une traction du piston de la seringue et une injection de quelques ml de lidocaïne tous les 3 mm, jusqu’à aspirer du liquide pleural. Une dose de lidocaïne doit alors être injectée pour anesthésier la plèvre pariétale.  
    </p>
    <h3>6.	Ponction : </h3>
    <p>Pour faciliter l’introduction du cathéter, on peut pratiquer à l’aide d’une petite lame de bistouri une incision d’environ trois à quatre millimètres de long et de quelques millimètres de profondeur. Puis le cathéter avec une seringue de 50 mL y est inséré progressivement tout en aspirant, jusqu’à obtenir du liquide pleural. La progression de l’aiguille est alors immédiatement arrêtée : seul le cathéter poursuit son insertion. En fin d’expiration, l’aiguille est complètement retirée et le cathéter bouché avec le pouce. Par la suite, la seringue de 50 mL est connectée au cathéter par l’intermédiaire d’un robinet 3 voies. L’aspiration au niveau de la seringue permet d’obtenir du liquide pleural. 
        <br>Lorsque la seringue est pleine, le contenu est versé dans les tubes de prélèvement pour analyse : un tube sec pour la biochimie (LDH, protéines, glucose), un tube EDTA pour la cytologie et deux tubes pour la bactériologie. En cas de ponction évacuatrice, le robinet est tourné pour raccorder le cathéter au redon collecteur. L’apparition d’une toux pendant le drainage doit absolument faire interrompre immédiatement le geste et retirer le cathéter sous peine de provoquer un pneumothorax. De plus, il ne faut pas évacuer plus de 1500 mL en moins de 30 minutes (risque d’œdème pulmonaire de ré-expansion). 
        <br>A la fin du drainage, le cathéter est retiré en fin d’expiration et le point de ponction recouvert d’une compresse. Systématiquement après la ponction, une radiographie pulmonaire de face est réalisée pour vérifier l’absence de pneumothorax iatrogène.  
    </p>
    <h2>Surveillance </h2>
    <p>En cours de ponction, la surveillance doit être quasi-continue. Il faut ralentir le débit ou même l'arrêter momentanément dans plusieurs cas. 
        <br>•	S'il apparaît une petite toux sèche récidivante qui témoigne : soit d'un oedéme pulmonaire incipiens, confirmé par l'auscultation qui met en évidence quelques râles crépitants ; soit d'une petite irritation de la plèvre viscérale par l'extrémité du trocart qu'il faut alors retirer de quelques millimètres. 
        <br>•	Parfois le malade se plaint. « Ça tire » dit-il, ce qui témoigne d'une pression pleurale trop négative. Il faut alors simplement ralentir le débit. 
        <br>•	Si le trocart « frémit à l'inspiration profonde cela témoigne de son frottement contre la plèvre viscérale qui revient à la paroi. Il s'agit d'une sensation tactile plus que visible. Si elle persiste après ralentissement du débit, il faut arrêter momentanément l'évacuation, et stopper définitivement si cela se reproduit. 
        <br> 
        <br>Le patient reste allongé après la ponction. 
        <br>On surveille à intervalles réguliers sa fréquence cardiaque et sa pression artérielle et on recherche des sueurs, une accélération du rythme respiratoire ou une cyanose. 
        <br>Au moindre doute, et systématiquement avant de laisser sortir un malade hospitalisé, une radiographie pulmonaire est faite en position verticale pour rechercher un éventuel pneumothorax iatrogène. Si on lit le cliché très attentivement — et même si ce n'est pas souhaitable — il n'est d'ailleurs pas rare de constater un épanchement aérien minime, sans réelle signification pathologique.  
    </p>
</div>