<div class="container">
    <h1>Cathétérisme Artériel</h1>
    <h2>Généralités</h2>
    <p>Le cathétérisme artériel implique l'insertion d'un cathéter dans une artère, relié à un système avec capteur de pression, permettant : 
        <br>o	La mesure continue de la pression artérielle, notamment en anesthésie ou réanimation. 
        <br>o	Des prélèvements sanguins artériels fréquents pour analyser les gaz du sang. 
        <br>o	La possibilité de mesurer la température corporelle centrale avec une sonde de température. 
        <br>o	En association avec un accès veineux ou artériel central, la surveillance continue du débit cardiaque par méthode de dilution sanguine. 
        <br>
        <br>Toutefois, cette technique comporte des complications, dont certaines, comme l'ischémie, sont graves bien qu'exceptionnelles.  
    </p>
    <h2>Principe de fonctionnement</h2>
    <div class="grid-container">
        <div class="grid-item item2">
            <img src="../../../assets/chap10_1.png" alt="">
        </div>
        <div class="grid-item item1">
            <p>Le cathéter artériel, inséré dans une artère périphérique ou centrale, est relié à un capteur de pression via une tubulure. Ce capteur transforme les variations de pression cardiaque en influx électriques, affichés sous forme de courbe sur un moniteur. Les pressions sont mesurées par rapport à la pression atmosphérique et la tête de pression doit être calibrée à zéro en référence à l'oreillette droite du patient. En décubitus dorsal, le point de référence est généralement situé le long de la ligne axillaire moyenne, à cinq centimètres en dessous. </p>
        </div>
    </div>
    <h2>Indications et contre-indications</h2>
    <h3>1.	Indications :  </h3>
    <p>o	Nécessité d’une surveillance de la pression artérielle en continu 
        <br>o	Prélèvements artériels plusieurs fois par jour 
        <br>o	Prélèvements sanguins fréquents en particulier gaz du sang ou en l’absence de voie veineuse centrale 
        <br>o	Traitements vasoactifs nécessitant une surveillance rapprochée de la pression artérielle. 
    </p>
    <h3>2.	Contre-indications :</h3>
    <h3>a.	Voie fémorale : </h3>
    <p>o	Thrombose du membre 
        <br>o	Insuffisance artérielle du membre ponctionné 
        <br>o	Pontage sur le membre, pose de matériel vasculaire prothétique 
    </p>
    <h3>b.	Voie radiale : </h3>
    <p>o	Syndrome de Raynaud 
        <br>o	Artérite de Burger 
        <br>o	Hyperlipidémies majeures 
        <br>o	Fistules artérioveineuses 
        <br>o	Test d’Allen pathologique 
    </p>
    <h3>c.	Risque : </h3>
    <p>o	Infection  
        <br>o	Hématome  
        <br>o	Lésion de l’artère  
        <br>o	Ischémie par thrombus artériel  
        <br>o	Embolie gazeuse  
        <br>o	Déconnection du cathéter artériel avec exsanguination  
        <br>o	Spoliation sanguine (lors de prélèvements fréquents)  
        <br>o	Injection accidentelle dans le cathéter  
        <br>o	Atteinte du nerf 
    </p>
    <h2>Complications</h2>
    <p>o	Thrombose artérielle
        <br>o	Infection sur cathéter
        <br>o	Autres accidents et incidents possibles :
        <br>-	Embolies cruoriques ou gazeuses : Pour les éviter, la désobstruction d'un cathéter peuts'envisager en limitant le volume de la purge à 2-3 ml. Ce volume est le même pour les purges systématiques. 
        <br>-	Fistules artérioveineuses, anévrysmes, et dissections artérielles. 
        <br>-	Injections accidentelles dans le cathéter artériel : Elles sont prévenues par une identification claire de la ligne artérielle. Si l'injection s'accompagne d'un tableau ischémique, un avis spécialisé doit être demandé. 
        <br>-	Migration du cathéter. 
        <br>-	Hématome au point de ponction.
    </p>
    <h2>Technique </h2>
    <h3>1.	Site de ponction :    </h3>
    <h3>a.	Choix de l’artère :  </h3>
    <p>Le site radial est l’abord de choix pour l’insertion des cathéters artériels classiques. Il estassocié à un risque moindre de complications thrombotiques et infectieuses.
        <br>La voie radiale ne peut être réalisée si le test d’Allen montre une absence de suppléance ulnaire (voir figure 37 ; chapitre précèdent) 
        <br><br>L’artère fémorale est de gros calibre et peut facilement être cathétérisée même en cas d’hypotension. Elle constitue le site de choix en cas d’urgence. En revanche, le site fémoral présente un risque infectieux plus grand de par la difficulté de fixation des pansements et par la localisation, propice à la macération. Ce site doit donc être choisi par défaut. 
        <br><br>L’artère pédieuse représente une alternative intéressante à l’artère radiale (existence d’un réseau de suppléance) mais reste peu employée par sa difficulté de cathétérisme (petit calibre). 
    </p>
    <h3>b.	Positionnement du malade : </h3>
    <p>Le patient est positionné en décubitus dorsal. En cas d’abord radial, le poignet choisi (non dominant en première intention) est placé en hyper extension, paume vers le haut, avec un coussin sous le poignet. Le point de ponction se situe 3 à 4 cm au-dessus du pli du poignet, au niveau de l’artère radiale pulsatile. En cas d’abord fémoral, le membre inférieur choisi est placé en abduction et rotation externe. Le point de ponction se situe au niveau du triangle de Scarpa, il est repérable grâce au pouls fémoral.
    </p>
    <h3>2.	Matériel nécessaire </h3>
    <table >
        <tr style="border: 1px solid;">
            <td style="border: 1px solid;">Matériel pour l’opérateur  </td>
            <td>•	Une paire de gants stériles 
                <br>•	Une casaque stérile 
                <br>•	Un Callot 
                <br>•	Un Masque chirurgical 
            </td>
        </tr>
        <tr style="border: 1px solid;">
            <td style="border: 1px solid;"> 
                Matériel pour la désinfection et anesthésie 
                 </td>
            <td>•	Antiseptique à base de Chlorhexidine ou d’iode (en solution moussante et alcoolique) 
                <br>•	Compresses stériles 
                <br>•	Champs enveloppants stériles (un plein et un troué) 
                <br>•	Aiguilles, seringues et anesthésique local (lidocaïne ou xylocaïne 1%)                 
            </td>
        </tr>
        <tr style="border: 1px solid;">
            <td style="border: 1px solid;">Matériel pour la ponction</td>
            <td>•	Une source lumineuse 
                <br>•	Utiliser un cathéter de longueur adaptée selon le site de ponction 
                <br>•	Fil à peau non résorbable 
                <br>•	Bistouri lame n° 11                  
            </td>
        </tr>
        <tr style="border: 1px solid;">
            <td>Matériel pour le système de rinçage et de contrepression  </td>
            <td style="border: 1px solid;">•	Un pochon souple de sérum physiologique 500mL 
                <br>•	Une Tubulure avec tête de pression 
                <br>•	Une poche à pression avec manomètre gradué 
                <br>•	Un support de tête de pression 
                <br>•	Un pied à perfusion 
                <br>•	Un câble de pression pour moniteur                 
            </td>
        </tr>
    </table>
    <h3>3.	Désinfection et anesthésie : </h3>
    <p>Comme tout geste nécessitant une asepsie chirurgicale rigoureuse, l’opérateur va effectuer un lavage chirurgical des mains puis s’habiller stérilement (avec des gants stériles, une casaque, un masque facial, un callot). Il désinfecte ensuite largement la zone d’insertion du cathéter choisie : antisepsie large en 4 temps (décrite précédemment) et y applique un champ stérile troué. Cette zone est par la suite anesthésiée localement par de la Xylocaïne, excepté en cas de patient présentant des troubles de la conscience. </p>
    <h3>4.	Montage du système de rinçage et contrepression : </h3>
    <p>o	Préparer une poche de NaCl 0.9% 500ml + étiquette datée, la glisser dans la manchette de surpression 
        <br>o	Purger le système. S’assurer de l’absence de bulles d’air 
        <br>o	Changer les bouchons blancs par des bouchons jaunes à disposition dans le set 
        <br>o	Veiller à bien revisser les connexions des différents robinets. Il arrive fréquemment qu’elles ne soient pas bien fermées dans le set à disposition 
        <br>o	Fixer la tête de pression au pied à perfusion 
        <br>o	Relier la tête de pression au moniteur avec le câble 
        <br>o	Connecter la tubulure purgée au cathéter patient 
        <br>o	Gonfler la manchette de surpression à 300 mmHg
        <br>o	Positionner le capteur au niveau de la ligne médio-axillaire 
        <br>o	Distinguer la tubulure à l’aide des étiquettes rouges « Artère », au niveau proximal et distal 
    </p>
    <h3>5.	Déroulement du geste : </h3>
    <p>Veillez toujours à ce que le transducteur ainsi que le tube de pression soient connectés au moniteur 
        <br>La technique de Seldinger est à privilégier. La technique percutanée la plus employée consiste à repérer l’artère au moyen des pulsations ressenties au niveau cutané. L'artère est stabilisée en tirant sur la peau. 
        <br>o	Ponctionnez l’artère avec une aiguille adaptée (à 30-40 degrés pour artère radiale,90 degrés pour l’artère fémorale), sans seringue, la progression de l’aiguille s’arrêtant lorsque le sang jaillit par jets pulsatiles. 
        <br>o	Insérez ensuite le fil-guide doucement à travers l’aiguille qui sera retirée dès que le guide soit en place, 
        <br>o	Avancez doucement le cathéter sur le fil-guide. 
        <br>o	Une fois le cathéter avancé, retirez progressivement le fil-guide. 
        <br>o	Connectez le cathéter à la tubulure haute pression et vérifiez ensuite la forme de l'onde artérielle sur le moniteur 
        <br>o	Nettoyez la zone concernée et laissez-la sécher. 
        <br>o	Fixez le cathéter artériel à l’aide d’un fil a peau non résorbable 
        <br>o	Recouvrir le point de ponction par un pansement occlusif et translucide 
        <br>o	Tous les objets tranchants intraveineux et autres matériels utilisés doivent être jetés. 
    </p>
    <img src="../../../assets/chap10_2.png" alt="">
    <img src="../../../assets/chap10_3.png" alt="">
    <img src="../../../assets/chap10_4.png" alt="">
    <h3>6.	L’adaptation du système :</h3>
    <h3>a.	Le zéro de référence : </h3>
    <p>Il est représenté par l’oreillette droite. Divers points de repère ont été proposés, en décubitus dorsal, le plus courant sont la ligne axillaire moyenne et un point situé 5 cm en dessous de l’angle de Louis. En décubitus latéral, le point de référence est le sternum. </p>
    <h3>b.	Positionnement du capteur  </h3>
    <p>Celui-ci est autant que possible solidaire de la table d’opération, c’est l’interface air/eau qui représente le zéro de référence. Le robinet à trois voies qui permet la mise à l’air de la ligne doit être situé le plus près possible de la tête de pression.</p>
    <h3>7.	Soins post intervention </h3>
    <h3>a.	Surveillance du pansement : </h3>
    <p>Le pansement doit être renouvelé dans des conditions d’asepsie chirurgicale, au moins tous les 4 jours. La peau est désinfectée par application de chlorhexidine ou de polyvidone iodée. La manipulation des sites de prélèvement s’effectue avec des compresses imbibées de chlorhexidine ou de polyvidone iodée, après lavage des mains, et port de gants conformément aux recommandations de prévention des infections nosocomiales. </p>
    <h3>b.	Gestion de la ligne de pression </h3>
    <p>Le changement du transducteur et des autres dispositifs s’effectue tous les 7 jours. Dès la mise en place du cathéter radial, il conviendra de vérifier sur le changement du bouchon ventilé présent sur la ligne par un bouchon stérile. De même, afin de limiter la colonisation des points d’accès au système vasculaire, une protection des connexions dans le lit/et au contact du patient sera mise en place. </p>
    <h3>c.	Changement du cathéter </h3>
    <p>En l'absence de données spécifiques, ces recommandations s’appuient sur celles établies pour les cathéters veineux centraux. En l’absence de signes locaux d’infection ou de complications, il n’y a pas d’arguments pour le changement systématique des cathéters artériels. En cas de doute sur une infection, le changement de cathéter peut s’effectuer sur guide. Changement du site de cathéter et de la ligne artérielle est obligatoire en cas d’infection locale évidente ou confirmée par la bactériologie et en cas de complications ischémiques locales. Pour toutes ces manœuvres, une asepsie chirurgicale est obligatoire.</p>
    <h3>d.	Ablation du cathéter</h3>
    <p>Elle doit être réalisée dans des conditions d’asepsie chirurgicale. On vérifie l’intégrité du cathéter. La mise en culture systématique n’est pas recommandée. Une compression plus prolongée peut être nécessaire en cas de troubles de l’hémostase et de cathétérisme de l’artère fémorale, un pansement compressif est maintenu pendant quelques heures. </p>
    <h3>e.	Surveillance du membre cathétérisé : </h3>
    <p>o	Surveiller douleur, rougeur, chaleur, tuméfaction, inflammation, écoulement du point de ponction 
        <br>o	Surveiller couleur, température, sensibilité, motricité et douleur 
        <br>o	Surveiller présence d’un pouls 
        <br>o	Surveiller signes d’allergie au pansement 
    </p>

</div>