<div class="container">
    <h1>Port de gants</h1>
    <h2>Définition</h2>
    <div class="grid-container">
        <div class="grid-item item1">
            <p>Le port des gants stériles est nécessaire pour maintenir la stérilité de l'équipement et/ou pour protéger le patient. Dès qu'ils sont contaminés, le soignant doit les retirer avec précaution pour éviter tout contact avec leur surface extérieure contaminée. </p>
        </div>
        <div class="grid-item item2">
            <img src="../../../assets/chap2_1.png" alt="" class="img1">
        </div>
    </div>
    <h3>Objectif </h3>
    <p>L'objectif est de mettre des gants stériles sans les contaminer et de les retirer sans disséminer les micro-organismes. </p>
    <h3>Matériels </h3>
    <p>Paire de gants stériles à usage unique de taille adaptée à celle de l’utilisateur et dont la date de péremption ne soit pas dépassée. </p>
    <div class="danger">
        Attention ! 
        o	Changer de gants entre chaque soin pour un même patient. 
        o	Changer systématiquement de gants entre deux patients.
        o	Le port de gants n’exclut pas le lavage des mains. 
        o	Je consulte le médecin du travail si je constate une réaction indésirable au port des gants. 
    </div>
    <h2>Déroulement</h2>
    <div class="grid-container">
        <div class="grid-item item2">
            <img src="../../../assets/chap2_2.png" alt="">
        </div>
        <div class="grid-item item1">
            <ul>
                <li>Se laver les mains avec un savon antiseptique. </li>
                <li>Ouvrir l’emballage extérieur qui contient l’enveloppe des gants. </li>
                <li>Saisir l’enveloppe des gants, la déposer sur une surface propre et l’ouvrir à l’aide des rebords extérieurs. </li>
                <li>Prendre avec le pouce et l’index le gant droit ou gauche selon la dominance de la main, par la partie retombée de la manchette et enfiler le gant en tirant. Laisser la partie supérieure de gant repliée. </li>
                <li>Enfiler l’autre gant en glissant les doigts de la main gantée sous le revers du poignet de l’autre gant. </li>
                <li>Ajuster le gant sur la main en exerçant une pression ferme sous le revers du gant. </li>
                <li>Ajuster la position des doigts dans les gants sans essayer de mettre en place les poignets, car les risques de contamination sont trop élevés </li>
            </ul>
        </div>
    </div>

    <h2>Retirer les gants</h2>
    <div class="grid-container">
        <div class="grid-item item2">
            <img src="../../../assets/chap2_3.png" alt="">
        </div>
        <div class="grid-item item1">
            <ul class="numero">
                Ces étapes décrivent la procédure pour retirer les gants stériles sans disséminer les micro-organismes : 
                <li>1.	Saisir de la main non dominante le gant en le pinçant à l’extrémité supérieure de la manchette. </li>
                <li>2.	Tirer le gant vers le bas en retournant à l’intérieur du gant sur l’extérieur de celui-ci. Garder le gant ainsi enlevé dans la main qui reste gantée. </li>
                <li>3.	Introduire l’index et le majeur de la main dégantée sous le gant en évitant absolument de toucher l’extérieur du gant. </li>
                <li>4.	Retirer le gant de façon à inverser la surface contaminée sur elle-même et sur le premier gant </li>
                <li>5.	Eliminer l’ensemble dans le sac à déchets et effectuer un lavage simple des mains. </li>

            </ul>
        </div>
    </div>
</div>