<div class="container">
    <h1>Sondage nasogastrique  </h1>
    <h2>Définition </h2>
    <p>La sonde nasogastrique permet d'accéder à la cavité gastrique en insérant une sonde par une narine, mais cette procédure nécessite une technique rigoureuse pour éviter des complications potentielles et est souvent perçue comme agressive par les patients. </p>
    <h2>Les sondes nasogastriques </h2>
    <p>Les sondes nasogastriques sont divisées en sondes à simple (type Levin) ou à double canal (type Salem), la présence d'un double canal augmente l'efficacité de l'aspiration, en évitant que le canal principal se plaque sur la muqueuse. 
        <br>La plupart des sondes sont équipées d'une ligne radio-opaque, afin de permettre de vérifier le positionnement de la sonde par contrôle radiologique. 
    </p>
    <h3>1.	La sonde type Levin : </h3>
    <div class="grid-container">
        <div class="grid-item item2">
            <img src="../../../assets/chap16_1.png" alt="">
        </div>
        <div class="grid-item item1">
            <p>La sonde type Levin est une sonde simple courant, très souple, utilisée préférentiellement pour les nutritions entérales et l’administration de traitement. 
                <br>Elle offre une excellente tolérance et sa résistance face à l’acidité digestive permet une utilisation de longue durée (max 30 jours) avec de petits calibres. Elle existe avec ou sans lest (lest en tungstène), avec ou sans mandrin. Le lest peut permettre de maintenir la sonde en bonne position. Le mandrin sert à rigidifier la sonde pour faciliter la mise en place. L’embout ou connecteur (sur lequel se branche la tubulure) peut être ou non muni d’un bouchon obturateur.
            </p>
        </div>
    </div>
    <h3>2.	Les sondes en PVC (Salem) : </h3>
    <div class="grid-container">
        <div class="grid-item item2">
            <img src="../../../assets/chap16_2.png" alt="">
        </div>
        <div class="grid-item item1">
            <p>Assez rigides, sont utilisées pour de courte durée (3 à 4 j) car le PVC est dégradé par l’acidité gastrique. A une extrémité, elle comporte 2 orifices permettant une prise d’air et une connexion pour l’aspiration, l’autre extrémité comportant plusieurs orifices pour aspirer le contenu gastrique. La prise d’air est primordiale en cas d’aspiration douce car elle évite que le tuyau ne se collabe à la paroi de l’estomac et ne crée un ulcère.  </p>
        </div>
    </div>
    <h2>Indications et contre-indications </h2>
    <table >
        <tr style="border: 1px solid;">
            <th style="border: 1px solid;">Indications   </th>
            <th>Contre-indications  </th>
        </tr>
        <tr style="border: 1px solid;">
            <td style="border: 1px solid;">•	Mise au repos du système digestif en post-opératoire. 
                <br>•	Soulagement du patient lors de pathologies fortement émétisantes (occlusion intestinale par exemple). 
                <br>•	Nutrition entérale par gravité ou sur pompe en cas d'altération de la conscience ou d’impossibilité de nutrition normale. 
                <br>•	Réalisation d'un tubage gastrique. 
                <br>•	Systématique chez le patient intubé. 
            </td>
            <td>•	Absolues 
                <br>1.	Intubation d'un patient présentant un traumatisme facial. 
                <br>•	Risque de passage de la sonde en intracérébral si fracas du sphénoïde. 
                <br>•	Dans ce cas, préférer la voie orale à l'aide du laryngoscope et de la pince de Magyle. 
                <br>•	Collecteur d’aiguilles souillées 
                <br>•	Relatives 
                <br>•	Varices œsophagiennes risquant d'être traumatisées par la sonde. Cependant, la surveillance de l'hémorragie digestive haute est plus importante pour la majorité des auteurs.             
            </td>
        </tr>
    </table>
    <h2>Complications </h2>
    <p>•	Les échecs correspondent soit à l'impossibilité d'introduire la sonde soit au positionnement inadéquat de son bout distal. 
        <br>•	Le déplacement secondaire est fréquent, soit par arrachage intempestif par le patient ou le personnel soignant, soit par déplacement spontané, en particulier dans le sens jéjunum-estomac. 
        <br>•	L'obstruction par plicature ou constitution d'un noeud sont des incidents peu fréquents et rarement rapportés par rapport à l'obstruction intraluminale d'origine médicamenteuse. L'enroulement au niveau de l'arrière pharynx est banal s'il est détecté. 
        <br>•	L'érosion de la muqueuse nasale responsable d'épistaxis est banale, de même que l'otite, la pharyngite, la parotidite. 
        <br>•	La sinusite est moins banale, des signes inflammatoires apparaissant 48 h après le passage nasal de la sonde. 
        <br>•	L'oesophagite, liée soit à la sonde, soit au reflux gastro-oesophagien, peut être responsable d'hémorragie digestive, voire de sténose résiduelle engendrant une dysphagie secondaire. Sa fréquence est moindre depuis l'utilisation de sondes fines et souples. L'érosion de la muqueuse peut être responsable de perforations digestives. 
        <br>•	Une fausse route lors de la mise en place peut être lourde de conséquence, la sonde nasogastrique pouvant suivre un trajet aberrant à partir d'une perforation de l'oesophage ou en pénétrant dans la trachée. Cette fausse route sera secondairement responsable d'une inondation pulmonaire dramatique lors de l'infusion de nutriments ou d'un pneumothorax.  
    </p>
    <h2>Technique du sondage </h2>
    <h3>1.	Préparation du patient : </h3>
    <p>Une prescription médicale obligatoire complète, qualitative et quantitative, datée, signée. Elle précise le type de sonde : matériau, charrière et éventuellement l’utilisation d’un anesthésique de contact (lidocaïne spray ou gel). 
        <br>Informer le malade et/ou la famille. Le médecin et l’infirmier(e) doivent expliquer les bénéfices attendus, les conditions de déroulement et les inconvénients ou risques éventuels. Le malade doit être à jeun depuis au moins six heures. La pose se réalise en position assise, avec une légère flexion du cou : permet l'ouverture de l'oesophage. 
        <br>Chez un patient inconscient ou avec troubles de la vigilance, le risque de complications (fausses-routes de la sonde en particulier) impose la présence d’un plateau technique à proximité et de deux personnes pour réaliser le geste. Le malade doit, dans ce cas, être installé en décubitus latéral. Si l’introduction est difficile, la pose sera effectuée par un médecin avec utilisation éventuelle d’une pince de Magill (nettoyée et autoclavée) et d’un laryngoscope. 
    </p>
    <h3>2.	Matériel nécessaire : </h3>
    <p>•	PHA 
        <br>•	Gants non stériles à usage unique. 
        <br>•	Compresses non stériles. 
        <br>•	Lubrifiant hydrosoluble. 
        <br>•	Sonde nasogastrique (Salem/Levin) 
        <br>•	Verre d'eau. 
        <br>•	Seringue de 60 mL avec un embout conique. 
        <br>•	Stéthoscope. 
        <br>•	Sparadrap. 
        <br>•	Marqueur indélébile. 
        <br> 
        <br>Matériel en fonction de l’indication : 
        <br>
        <br>•	Aspiration gastrique : 
        <br>-	Aspiration active : Prise murale de vide munie d’un manomètre, Réceptacle à usage unique, Tuyaux, Raccord biconique. 
        <br>-	Aspiration par gravité : Sac de recueil, Tuyau, Raccord biconique. 
        <br>
        <br>•	Nutrition entérale.
    </p>
    <h3>3.	Mise en place de la sonde :</h3>
    <p>-	Réaliser une friction avec un PHA puis enfiler des gants propres 
        <br>-	Employer la sonde elle-même pour mesurer la longueur requise pour atteindre l’estomac et choisir le repère sur la sonde : 
        <br>o	1er repère : distance entre le lobe de l'oreille et l’arrête du nez.
        <br>o	2ème repère : ajouter au 1er repère, la distance entre l’arrête du nez et le bas de l’appendice xiphoïde.
    </p>
    <h3>a.	Chez le malade conscient : </h3>
    <p>•	La sonde préalablement lubrifiée est introduite dans une narine perpendiculairement au plan du visage. Il existe souvent un orifice nasal plus perméable que l’autre ; il doit être recherché avec douceur.
        <br>•	La sonde est poussée doucement sur une dizaine de centimètres jusque dans le pharynx. On demande alors au malade de déglutir calmement sa salive ou une gorgée d'eau en penchant légèrement la tête en avant. Le passage de l'œsophage est souvent plus difficile en raison de la courbure de l'extrémité de la sonde. Une rotation de 180° en facilite l'introduction. 
        <br>•	La sonde est poussée pendant la déglutition. Il y a alors trois possibilités : 
        <br>o	Si elle passe dans l'œsophage, elle est introduite jusqu'à amener le deuxième repère au niveau de l'orifice nasal ; 
        <br>
        <br>o	Si elle s'enroule dans l'oropharynx, provoquant un réflexe nauséeux, elle est retirée de quelques centimètres et la manœuvre est recommencée; 
        <br>o	Si elle passe dans la trachée en s'engageant dans la glotte et provoquant un réflexe de toux, elle est retirée pour recommencer la même manœuvre. 
        <br>•	La sonde est considérée comme en place dans l'estomac lorsque l'aspiration ramène du liquide gastrique et lorsque l'insufflation de 20 à 40 ml d'air à l'aide de la seringue à gros embout produit dans la région épigastrique un bruit hydroaérique entendu à l'auscultation de l'abdomen. 
        <br>•	Elle est alors fixée sur le nez avec une cravate de sparadrap ou parfois même une suture chirurgicale.  
    </p>
    <h3>b.	Chez le malade inconscient : </h3>
    <p>•	La tête est légèrement fléchie après le passage de l'orifice narinaire pour permettre le passage de la sonde dans l'œsophage. 
        <br>•	En cas de difficultés : 
        <br>o	La pose peut se faire sous contrôle de la vue : le carrefour aérodigestif est exposé à l'aide d'un laryngoscope ; une pince de Magill permet de saisir la sonde et de la diriger vers la bouche œsophagienne ; 
        <br>o	On peut aussi tenter de guider la sonde à l'aide de deux doigts gantés introduits dans la bouche du malade mais ceci expose l'opérateur au risque de morsure; 
        <br>o	Chez les patients intubés enfin, le déplacement vers l'avant du larynx améliore significativement le taux de réussite.  
    </p>
    <h3> 4.	Vérifier la position de la sonde après la pose : </h3>
    <p>•	En ce qui concerne la sonde nasogastrique, l’absence de toux et de résistance durant la pose ne présume pas de la bonne position de la sonde nasogastrique. 
        <br>•	Le meilleur moyen de vérification initiale de l’emplacement est le contrôle radiologique pour les sondes gastriques. 
        <br>
        <br>•	L’auscultation épigastrique après l’injection d’air dans la sonde nasogastrique (risque de faux positif) ne garderait éventuellement une place qu’en l’absence de possibilité d’un contrôle radiologique. 
    </p>
    <h3>5.	Fixer la sonde nasogastrique : </h3>
    <p>•	Préparer la peau (lavage, séchage) 
        <br>•	Poser un sparadrap, enroulé autour de la sonde au niveau de la base du nez 
        <br>•	Appliquer la moitié d’une bande de ruban adhésif élastique, d’environ 4 cm, sur le nez. Sa partie basse étant fendue jusqu’à la pointe du nez, chaque moitié du ruban adhésif élastique est alors enroulée autour de la sonde 
        <br>•	La fixation sur la joue est limitée au minimum en évitant de former une grande boucle qui rentre dans le champ visuel du patient et qui augmente les risques d’arrachement. 
    </p>
    <img src="../../../assets/chap16_3.png" alt="">
    <h2>Utilisation et surveillance de la sonde </h2>
    <p>•	Adapter la sonde en fonction de l'indication, soit au système d'aspiration et régler le manomètre, soit à l'alimentation et régler le débit. 
        <br>•	Maintien d'une position semi-assise du patient entre 30 et 45o ; 
        <br>•	Remplacer quotidiennement les fixations et surveiller la survenue d’une escarre au niveau de l'aile du nez. 
        <br>•	Maintenir la perméabilité de la lumière : les sondes nasogastriques doivent être vérifiées et rincées toutes les 4 à 8 heures. Elles doivent toujours être irriguées avec du sérum physiologique avant et après l'alimentation pour éviter les blocages. 
        <br>•	Vérification de la position de la sonde : Confirmer la position avant chaque alimentation/après déplacement ou mobilisation du patient/patient se plaignant d'une gêne. 
        <br>•	Changement de routine de la sonde : Suivez les instructions du fabricant. 
        <br>•	Retrait du tube : Retirez délicatement le ruban adhésif, pincez le tube (pour éviter tout débordement du liquide présent à l'intérieur de la tubulure), puis demandez au patient d'expirer profondément et de retirer le tube pendant l'expiration. 
    </p>
</div>