<div class="container">
    <h1>Cathétérisme veineux périphérique</h1>
    <h2>Définition</h2>
    <div class="grid-container">
        <div class="grid-item item2">
            <img src="../../../assets/chap4_1.png" alt="">
        </div>
        <div class="grid-item item1">
            <p>Les cathéters veineux périphériques courts sont des dispositifs médicaux stériles insérés dans une veine superficielle par voie percutanée. Ils servent à des fins diagnostiques ou thérapeutiques, permettant l'administration parentérale de solutés, de produits sanguins, de solutions nutritives et de médicaments. Leur utilisation est répandue dans tous les domaines de soins, et la standardisation de leur pose et de leur maintien vise à garantir la sécurité et à réduire le risque de complications, assurant ainsi le bon déroulement de la procédure. </p>
        </div>
    </div>
    <h3>1. Le cathéter et le dispositif de perfusion</h3>
    <p>
        On note 2 types de cathéters (les cathéters courts et les aguilles épicrâniennes)  <br>
        - Les cathéters courts sont constitués le plus souvent de téflon, de silicone ou de polyuréthane. Ils sont présentés montés sur une aiguille interne destinée à permettre le franchissement de la peau et de la paroi veineuse grâce à son biseau. À l’autre extrémité de l’aiguille une chambre transparente permet de visualiser le reflux sanguin.  <br>
        - Il existe plusieurs diamètres de canule (gauges) et plusieurs longueurs d’aiguille, avec ou sans système de sécurité. <br>
        - L’épicrânienne est une aiguille métallique (en acier inoxydable), munie d'ailettes pour la saisir et d'un tube souple. Il existe 4 gauges (diamètres) d'aiguilles à adapter à la veine à ponctionner (N° 19, 21, 23, 25) et deux longueurs de tube souple. 
        <br>
    </p>
    <img src="../../../assets/chap4_2.png" alt="">
    <div class="grid-container">
        <div class="grid-item item1">
            <img src="../../../assets/chap4_3.png" alt="">
        </div>
        <div class="grid-item item2">
            <p>
                (a) Cathéter sur l'aiguille <br>
                (b) revêtement de protection <br>
                (c) ailes du cathéter <br>
                (d) orifice d'injection <br>
                (e) connecteur Luer <br>
                (f) poignée de l'aiguille <br>
                (g) chambre de visualisation <br>
                (h) bouchon <br>
            </p>
        </div>
    </div>
    <div class="grid-container">
        <div class="grid-item item2">
            <img src="../../../assets/chap4_4.png" alt="">
        </div>
        <div class="grid-item item1">
            <p>Le dispositif de perfusion est composé de la tubulure de perfusion et de ses annexes : prolongateur, robinet et rampe. </p>
        </div>
    </div>
    <h2>Indications et contre-indications</h2>
    <p>Les indications de pose et de maintien d’un DIV doivent être limitées chaque fois que possible, en préférant systématiquement la voie orale ou entérale à la voie veineuse pour l’administration de médications ou nutriments. Tout DIV est retirée dès qu’il n’est plus indispensable.</p>
    <table >
        <tr style="border: 1px solid;">
            <th style="border: 1px solid;">Indications  </th>
            <th>Contre-Indications </th>
        </tr>
        <tr style="border: 1px solid;">
            <td style="border: 1px solid;">Patients nécessitants : <br>
                •	Une réhydratation <br>
                •	Une transfusion <br>
                •	Un traitement	par voie veineuse <br>
                •	Nécessité de maintien d’un abord vasculaire 
                 </td>
            <td>•	Patient porteur d’une prothèse orthopédique ou vasculaire. <br>
                •	Fistule artério veineuse. <br>
                •	Un curage ganglionnaire. <br>
                •	Membre siège de radiothérapie. <br>
                •	Tumeur maligne diagnostiquée. <br>
                •	Membre paralysé <br>
                •	Présenced’hématomes, plaies sursite de ponction <br>
                •	Membre présentant une phlébite ou un foyer <br>
                •	Infectieux. <br>
                 
            </td>
        </tr>
    </table>
    <h2>Complications des cathéters veineux périphériques</h2>
    <p>Les complications des abords veineux sont extrêmement nombreuses et très diverses. Le tableau ci-dessous représente les principales complications :</p>
    <table >
        <tr style="border: 1px solid;">
            <td style="border: 1px solid;">Mécaniques </td>
            <td>• Blessure d’une veine  <br>
                • Injection intra-artérielle accidentelle  <br>
                • Perfusion extra veineuse Il est recommandé de s’assurer du bon emplacement de la canule avant de débuter la perfusion 
            </td>
        </tr>
        <tr style="border: 1px solid;">
            <td style="border: 1px solid;">Complications thromboemboliques </td>
            <td>Thrombophlébite périphérique :  <br>
                - FDR : • Le positionnement du cathéter au membre inferieur ou à l'avant-bras <br>
                • durée longue d'utilisation du cathétérisme (au-delà de 3 jours)  <br>
                • mauvais choix du dispositif (matériaux, rigidité et diamètre) <br> 
                • utilisation d’infusâts avec une osmolarité élevée  <br>
                - Clinique : douleur locale, inflammation cutanée et sous cutanée périveineuse, existence d’un cordon induré. <br> 
                - Traitement : • retrait précoce du matériel d’abord veineux et la mise au repos de la veine,  <br>
                • l’application de pommades contenant des agents antiinflammatoires ou de pansements alcoolisés.  br 
                - Prévention : repose sur la limitation de la durée des perfusions, Le choix d’un matériel peu agressif, l’abstention d’administration de solutés veinotoxiques.                 
            </td>
        </tr>
        <tr style="border: 1px solid;">
            <td style="border: 1px solid;">Indications </td>
            <td>•	Arrivée et sortie du service 
                •	Après toilette et mouchage 
                •	Avant repas et administration de thérapeutique 
            </td>
        </tr>
        <tr style="border: 1px solid;">
            <td>Déroulement </td>
            <td style="border: 1px solid;">•	Savonner toutes les surfaces de la main jusqu'aux avant-bras 
                •	Rincer abondamment à l'eau courante 
                •	Sécher minutieusement avec serviette à usage unique 
                •	Fermer le robinet à l'aide de la serviette 
            </td>
        </tr>
        <tr style="border: 1px solid;">
            <td style="border: 1px solid;">Temps </td>
            <td>1 Minute </td>
        </tr>
    </table>
    <h2>Technique de pose du cathéter veineux périphérique</h2>
    <p>Suivant les recommandations de la SF2H mai 2019  </p>
    <h3>1. Choix du matériel :  </h3>
    <p>Il est fortement recommandé d’utiliser des matériels sécurisés dans le cadre de la protection des professionnels vis-à-vis du risque infectieux et de former les professionnels à l’utilisation de ces matériels.  </p>
    <h3>2. Choix du site de ponction : </h3>
    <p>Privilégier le membre supérieur non dominant, main et avant-bras en commençant par la partie distale du membre en évitant les zones fonctionnelles plis et les articulations. 
        L’insertion d’un CVP au niveau du membre inférieur est non recommandée chez tous patients adultes et contre indiquée chez les patients atteints de neuropathie. Les quelques exceptions sont : <br>
        1.	Les contraintes « d’accès au patient » au bloc opératoire. <br>
        2.	La nécessité en urgence d’un CVP. <br><br>
         
        Par conséquent cette mesure est temporaire le temps que d’autres moyens d’accès vasculaires soient possibles. 
    </p>
    <h3>3. Préparation du matériel : </h3>
    <p>La préparation du matériel se fait sur une surface propre. 
        <i>Matériel mesures de base : </i><br>
        •	Solution hydro-alcoolique pour les mains <br>
        •	Gants non stériles <br>
        •	Protection pour le lit <br>
        •	Conteneur pour objet piquant tranchant <br>
        •	Poubelle <br><br>
         
    <i>Matériel antisepsie et insertion du cathéter : </i><br>
        •	Antiseptique alcoolique à base de Chlorhexidine 2% <br>
        •	Set à pansement <br>
        •	Cathéter(s) <br>
        •	Garrot <br><br>
         
    <i>Matériel de perfusion / perméabilité : </i><br>
        En fonction de la situation : NaCL 0,9% - tubulure – seringues -rallonge courte - bouchon obturateur- robinet -plateau avec solutions et/ou médicaments préparés et étiquetés. <br><br>
        
    <i>Matériel pour fixation : </i><br>
        Pansement transparent semi-perméable en polyuréthane stérile et +/- bandelettes adhésives stériles. <br>
        Prévoir le matériel spécifique de fixation/maintien (attèles, bandage non élastique,) <br>
    </p>
    <h3>4. Préparation du site de ponction : </h3>
    <p>Le premier temps de la ponction consiste à faire apparaître les veines superficielles grâce au garrot. Pour que la ponction soit aisée, la veine doit être vue et surtout palpée. Sa perception peut être facilitée par des moyens auxiliaires : <br>
        •	Mettre le membre en déclive sauf s’il est œdématié <br>
        •	Tapoter doucement le site de ponction choisi <br>
        •	Chauffer le site de ponction en trempant la main dans une bassine d’eau tiède ou avec une serviette préalablement chauffée (ne pas utiliser de coussin chauffant) <br>
        •	Ne pas serrer le garrot trop fort, vérifier la persistance du pouls <br>
    </p>
    <h3>5. Déroulement du soin :</h3>
    <h3>a.	Préparation du matériel : </h3>
    <p>1.	Ouvrir le set de pose de CVP <br>
        2.	Se frictionner les mains avec solution hydro alcoolique <br>
        3.	Monter et purger le dispositif de perfusion <br>
        4.	Imprégner les compresses de solution antiseptique <br>
    </p>
    <h3>b.	Repérage de la veine : </h3>
    <p>1.	Se frictionner les mains avec solution hydro alcoolique <br>
        2.	Installer le patient, disposer la protection sous le site de ponction <br>
        3.	Vérifier que la peau soit propre (si non, laver /rincer /sécher) <br>
        4.	Choisir et préparer le site de ponction : serrer le garrot pour repérer la veine (Palper) <br>
    </p>
    <h3>c.	Antisepsie du site de ponction </h3>
    <p>1.	Il est recommandé de ne pas dépiler la zone d’insertion ; si la dépilation est indispensable, il est recommandé de privilégier la tonte. <br>
        2.	Le nettoyage de la peau avec un savon doux avant antisepsie est recommandé uniquement en cas de souillures visibles. <br>
        3.	Il est fortement recommandé de réaliser, immédiatement avant l’insertion du cathéter une friction des mains avec un produit hydroalcoolique. <br>
        4.	Il est fortement recommandé de porter des gants lors de la pose d’un cathéter pour la prévention des accidents d’exposition au sang. <br>
        5.	Désinfecter le point de ponction 3 fois par mouvement circulaire et laisser sécher l’antiseptique. <br>
        6.	Déposer le CVP et le pansement transparent sur le set. <br>
    </p>
    <h3>d.	Insertion du cathéter / contrôle perméabilité : </h3>
    <p>1.	Resserrer le garrot <br>
        2.	Se frictionner les mains avec solution hydroalcoolique <br>
        3.	Mettre les gants <br>
        4.	La peau est tendue sur les côtés et au-dessus des points de ponction, pour immobiliser la veine. <br>
        5.	La piqure de la peau et de la veine se fait avec un angle à 30°, biseau tourné vers le haut. <br>
        6.	Introduire le cathéter avec son mandrin en place jusqu’à l’apparition de reflux sanguin, <br>
        7.	Faire ensuite coulisser le cathéter sur le mandrin jusqu’à la garde du cathéter. <br>
        8.	Desserrer le garrot <br>
        9.	Maintenir le cathéter en place, enlever le mandrin et connecter la rallonge courte, vérifier le reflux et la perméabilité du cathéter en injectant le NaCl 0,9%. <br>
    </p>
    <div class="grid-container">
        <div class="grid-item item2">
            <img src="../../../assets/chap4_5.png" alt="">
        </div>
        <div class="grid-item item1">
            (A) Une pression proximale est appliquée pour faire ressortir la veine. <br>
            (B) Lors de l'insertion, le cathéter est maintenu à un angle de 10-30° par rapport à la peau et le biseau du stylet doit être maintenu vers le haut. (C) e cathéter est abaissé jusqu'à toucher la peautout en la glissant dans la veine et le stylet est retiré lorsque le sang est visible dans la chambre flash. <br>
        </div>
    </div>
    <h3>e.	Fixation du cathéter : </h3>
    <p>1.	Recouvrir le cathéter au moyen du pansement transparent semi-perméable stérile et + /-bandelettes adhésives <br>
        2.	Fermer avec le bouchon obturateur ou administrer les traitements ou connecter la perfusion. <br>
        3.	Retirer les gants <br>
        4.	Se frictionner les mains avec solution hydroalcoolique <br>
    </p>
    <h3>f.	Réinstallation et documentation : </h3>
    <p>1.	Réinstaller le patient <br>
        2.	Ranger le matériel <br>
        3.	Se frictionner les mains avec solution hydroalcoolique <br>
    </p>
    <h2> Utilisation, entretien et surveillance</h2>
    <h3>1. Utilisation du cathéter : </h3>
    <p>Il est fortement recommandé de réaliser, immédiatement avant les manipulations de la ligne de perfusion, une friction des mains avec un produit hydroalcoolique. 
        Il est recommandé de désinfecter les embouts et les robinets avant leur manipulation à l’aide d’une compresse stérile imprégnée avec de l’alcool à 70%. 
        Il est recommandé de mettre en place un nouveau bouchon obturateur stérile chaque fois que l’accès ou le robinet est ouvert. 
        Afin de maintenir un système clos lors de l’utilisation en discontinu d’un accès vasculaire, il est possible de remplacer les bouchons obturateurs par une valve bidirectionnelle. 
        Il est recommandé de faire un rinçage par poussées successives, dit « rinçage pulsé », après chaque injection / perfusion médicamenteuse, après un prélèvement sanguin, avant et après l’utilisation d’un cathéter en discontinu. 
    </p>
    <h3>2. Entretien du cathéter :</h3>
    <h3>a.	Fréquence de changement du cathéter : </h3>
    <p>Il est fortement recommandé de retirer tout cathéter périphérique dès que celui-ci n’est plus indiqué. La réévaluation de la pertinence de maintien du cathéter périphérique doit être au minimum quotidien. 
        Il est fortement recommandé de retirer le cathéter en cas de complication locale ou de suspicion d’infection systémique liée au cathéter 
        En cas de suspicion d’infection, il est possible d’adresser l’extrémité distale du cathéter périphérique, après retrait aseptique, au laboratoire afin de documenter l’infection. 
        Il est recommandé de changer un CVP posé dans de mauvaises conditions d’asepsie. Ce changement sera réalisé après évaluation du risque lié aux conditions de pose. 
    </p>
    <h3>b.	Réfection de pansement : </h3>
    <p>Il est recommandé de procéder à la réfection du pansement uniquement s’il est décollé ou souillé, et ce dans les mêmes conditions que celles de la pose. </p>
    <h3>c.	Changement du dispositif de perfusion : </h3>
    <p>Il est recommandé de remplacer les tubulures utilisées après chaque administration de produits sanguins labiles, dans les 24 heures suivant l’administration d’émulsions lipidiques et fortement recommandé dans les 12h pour le propofol. 
        Il est recommandé de ne pas changer la ligne de perfusion principale avant 4 jours sans excéder 7 jours. 
        Il est recommandé de remplacer sans délai les CVP en cas de signes locaux évoquant une infection ou une obstruction sans retrait systématique à 4 jours. 
    </p>
    <h3>3.	Surveillance du cathéter veineux périphérique : </h3>
    <p>Il est fortement recommandé de réaliser une surveillance clinique au moins quotidienne de l’état du patient et du site d’insertion, de tracer et d’informer de toute complication liée au cathéter. </p>

</div>