<div class="container">
    <h1>La ponction sus-pubienne </h1>
    <h2>Définition </h2>
    <p>La cystostomie percutanée (CPC), également connue sous le nom de cathétérisme vésical sus-pubien ou cystocathétérisme sus-pubien, est une procédure médicale consistant à insérer un cathéter directement dans la vessie à travers la paroi abdominale afin de drainer l'urine de manière temporaire ou permanente. Cette intervention est fréquente dans les services d'urgence. </p>
    <h2>Indications et contre-indications </h2>
    <h3>1.	Indications </h3>
    <p>•	Les indications au cathétérisme sus-pubien sont :  
        <br>•	Une impossibilité technique du sondage vésical par les voies naturelles; 
        <br>•	Un obstacle prostatique : hypertrophie bénigne de la prostate, cancer ou prostatite; 
        <br>•	Un traumatisme du bassin avec disjonction pubienne, l’hématurie initiale devant faire évoquer une rupture de l’urètre; 
        <br>•	Et classiquement les patients porteurs de prothèse cardiaque (valvulaire) ou nécessitant une intervention orthopédique ou vasculaire avec pose de prothèse pour lesquels une sonde vésicale peut être un point de départ d’une infection, sous réserve que le risque infectieux soit moindre. 
    </p>
    <h3>2.	Contre-indications</h3>
    <p>•	Une hématurie, un caillotage vésical (le cathéter de faible calibre risque de s’obstruer). 
        <br>•	Des troubles de l’hémostase. 
        <br>•	Un antécédent connu de tumeur vésicale. 
        <br>•	Une cicatrice de laparotomie ou de pontage vasculaire sur le trajet de la zone deponction. 
        <br>•	Un patient agité (qui risque d’arracher le cathéter retenu par aucun ballonnet). 
        <br>•	Une infection cutanée sus-pubienne. 
        <br>•	L’absence de globe vésical. 
        <br>•	Un doute diagnostique. 
        <br>
        <br>Malgré sa simplicité, cette procédure est rarement associée à des complications. De plus en plus, la technique d'insertion du cathéter sus-pubien sous guidage échographique est préférée. Bien que traditionnellement réalisé par les urologues, la maîtrise de la pose du cathéter sus-pubien est devenue essentielle pour les médecins urgentistes. 
    </p>
    <h2>Complications </h2>
    <p>Durant la réalisation du geste technique, les incidents potentiels sont nombreux : 
        <br>Une perforation hémorragique d’un vaisseau ou d’une tumeur, une perforation intestinale ou péritonéale,  la formation d’un noeud au niveau du cathéter,  une section du cathéter avec le trocart, le cathéter rentrant dans l’uretère par le col vésical… 
        <br>
        <br>En cas de vidange rapide de la vessie, il existe un risque de provoquer une hémorragie a vacuo à la suite d’une reperfusion soudaine des vaisseaux de la muqueuse vésicale. De plus, cette vidange vésicale rapide peut également aboutir à un syndrome de levée d’obstacle qui se manifeste par une déshydratation aiguë, avec une polyurie, une hyponatrémie et une hyperprotidémie. En prévention, il convient de compenser les pertes hydro-électrolytiques selon les résultats des ionogrammes sanguins et urinaires. 
        <br>
        <br>Les complications infectieuses sont peu fréquentes si la technique est correcte. L’infection des urines est plus rare sur un cathéter sus-pubien ; c’est pourquoi il faut le privilégier au sondage urétral chez les patients porteurs de valvulopathie cardiaque. Néanmoins, un phlegmon du Retzius peut se former à la suite d’une fuite d’urine dans l’espace sous péritonéal, qu’il convient de reconnaître le plus précocement possible, car il nécessite un drainage chirurgical. 
        <br>
        <br>Des obstructions du cathéter par des dépôts muqueux peuvent apparaître. Un lavage vésical au sérum physiologique permet habituellement de lever cette occlusion. En cas d’échec, d’autres étiologies sont à rechercher comme une infection, un caillotage de la vessie, ou un enroulement du cathéter dans l’urètre prostatique. 
    </p>
    <h2>Technique de pose d’un cathéter sus-pubien </h2>
    <p>La cystostomie suprapubienne peut être réalisée de deux façons, comme suit : 
        <br>1.	Approche ouverte, où une petite incision infra-ombilicale est pratiquée au-dessus de la symphyse pubienne jusqu'à la vessie après avoir disséqué tout le muscle. 
        <br>2.	Approche percutanée, dans laquelle le cathéter est inséré directement à travers la paroi abdominale, au-dessus de la symphyse pubienne. Les techniques disponibles sont : 
        <br>o	La mise en place percutanée d'une cystostomie sus-pubienne par la technique de Seldinger. 
        <br>o	Mise en place percutanée d'un cathéter sus-pubien au-dessus ou à travers un trocart 
        <br>o	Placement percutané d'une cystostomie sus-pubienne sous visualisation directe par cystoscopique directe 
        <br>o	Placement percutané d'une cystostomie sus-pubienne sous visualisation directe par échographique. 
        <br>
        <br>Les deux éléments importants, qui doivent être gardés à l'esprit lors de la planification des ponctions suprapubiennes, sont les suivants 
        <br>1.	Tout d'abord, si la vessie peut être drainée par un cathéter urétral, ce dernier est préférable. 
        <br>2.	La deuxième question est la méthode qui sera utilisée pour placer la cystostomie sus-pubienne, soit une approche ouverte ou une approche percutanée. 
        <br>
        <br>Nous allons détailler la technique adoptée par le CHU Momahed 6 de Marrakech : technique de Seldinger, utilisant la sonde Foley décrite dans le chapitre précédent. 
    </p>
    <h3>1.	Précautions utiles : </h3>
    <p>Le dosage préalable de la créatinine sanguine et un ionogramme sanguin permettront ultérieurement de suivre l'évolution d'un éventuel syndrome de levée d'obstacle. L'interrogatoire vérifie l'absence d'allergie à la Xylocaïne. 
        <br>Le malade est couché sur le dos. Il est rassuré, le geste lui est expliqué. 
        <br>On s'assure que la vessie est pleine : le globe vésical est repéré cliniquement par la palpation et surtout la percussion sus-pubienne. Il est exceptionnel en pratique que, chez un malade l'obése on soit amené à confirmer par une échographie un diagnostic hésitant. 
    </p>
    <h3>2.	Matériel nécessaire : </h3>
    <img src="../../../assets/chap18_1.png" alt="">
    <p>
        •	Produit hydro-alcoolique 
        <br>•	OPERATEUR : Masque chirurgical - Lunettes de protection Casaque stérile - Gants stériles 
        <br>•	AIDE : Gants non stérile 
        <br>•	Champs stériles 
        <br>•	Antiseptique en solution moussante 
        <br>•	Antiseptique en solution alcoolique de la même famille 
        <br>•	Compresses stériles 
        <br>•	Kit de pose de cystocathéter sus-pubien comportant : 
        <br>-	Scalpel (lame) 
        <br>-	Dilatateur et gaine sécable avec code couleur 
        <br>-	Cathéter en silicone à ballonnet 
        <br>-	Guide à embout flexible 
        <br>-	Fosset pour sonde 
        <br>-	Aiguille de ponction : 18G, 12cm 
        <br>-	Seringue pour le remplissage du ballonnet 
        <br>-	Seringue de 20 ml pour l'injection d'un anesthésique 
        <br>•	Sac collecteur d’urines 
        <br>•	Aiguille verte (ou aiguille longue pour patients obèses). 
        <br>•	Lidocaïne 2 %. 
        <br>•	Seringue remplie d’eau stérile 
    </p>
    <h3>3.	Installation du patient et repérage du site de ponction : </h3>
    <p>Le patient est installé en décubitus dorsal, en veillant à bien dégager le haut de l’abdomen, pour exposer de manière adaptée l’espace de ponction, situé entre le pubis et l’ombilic. 
        <br>Le site de ponction se situe en pleine matité (globe vésical) à deux travers de doigt au- dessus de la symphyse pubienne sur la ligne médiane. L’axe de la ponction doit être vertical avec une inclinaison de 10° de l’extrémité de l’aiguille vers les pieds du patient.  
        <br>Lorsque l’on doit poser un cathéter sus-pubien chez un patient en surcharge pondérale, le tablier abdominal peut être très gênant. Il est parfois nécessaire de demander à un(e) infirmier(ère) de maintenir le tablier abdominal pendant que l’on repère les reliefs du pubis et que l’on réalise la ponction.  
    </p>
    <img src="../../../assets/chap18_2.png" alt="">
    <h3>4.	Asepsie et anesthésie cutanée : </h3>
    <p>Le cathéter est posé après une antisepsie large en 4 temps du lieu de prélèvement (technique de l’escargot) et utilisation de champs stériles) avec un système clos. Le cathéter est raccordé à une poche à urine.  
        <br>Une seringue de 10 cm de lidocaïne 2 % est préparée, puis reliée à une aiguille de ponction intramusculaire (de couleur verte). On procède à l’anesthésie cutanée et sous-cutanée dans l’axe de ponction.  
    </p>
    <h3>5.	Incision et introduction du cathéter :  </h3>
    <p>Une petite incision d’environ 1cm de longueur est réalisée au niveau du site de ponction repéré. 
        <br>Le but recherché est de couper la ligne blanche pour faciliter l’insertion ultérieure du dilatateur. 
        <br>L’aiguille de ponction est utilisée pour compléter l’anesthésie en profondeur jusqu’à l’obtention d’un retour d’urines, indiquant le bon positionnement du trajet de ponction la voie urinaire menant à la vessie. L’absence de retour d’urine dans la seringue doit conduire à arrêter le geste. 
        <br>La seringue est ensuite retirée selon une torsion dans le sens antihoraire et l’aiguille est laissée en place. 
        <br> Le fil guide est d’abord inséré par l’extrémité souple jusqu’à la première marque noire. En maintenant le fil-guide en position l’aiguille peut être soigneusement retirée en laissant le fil- guide dans la vessie. 
        <br>En appliquant un mouvement de torsion, le dilatateur peut être délicatement inséré par- dessus le fil-guide jusqu’à atteindre la deuxième marque noire. Le dilatateur est maintenant en position. 
        <br>Le dilatateur et le fil-guide sont retirés de la gaine externe. On placera pour ce faire un pouce sur l’extrémité de la gaine afin d’empêcher la fuite d’urines. 
        <br>Le cathéter de Foley est inséré dans la gaine externe jusqu’au point intermédiaire du cathéter, le ballonnet est ensuite gonflé de 10 ml d’eau stérile. La gaine est ensuite écartée et retirée du cathéter. 
        <br>Il n’est pas nécessaire de réaliser un surjet cutané pour fixer la sonde de Foley. 
    </p>
    <img src="../../../assets/chap18_3.png" alt="">
    <h2>Surveillance </h2>
    <p>Le cathéter peut rester en place plusieurs jours, voire semaines. Il n’y a pas d’indication à vérifier sa mise en place </p>
    <table >
        <tr style="border: 1px solid;">
            <td style="border: 1px solid;">Surveillances  </td>
            <td>Diurèse 
                <br>Qualité et aspect de l’urine Déclivité du système de drainage Perméabilité du cathéter 
                <br>Point de ponction Hémorragie, caillot 
                <br>Hydratation du patient. 
            </td>
        </tr>
        <tr style="border: 1px solid;">
            <td style="border: 1px solid;">Pansement  </td>
            <td>Désinfecter le site de ponction et faire un pansement sec tous les 3 jours jusqu’à cicatrisation du site de ponction. 
                <br>Après la cicatrisation un pansement n’est pas absolument nécessaire et la peau peut être lavée à l’eau et au savon. Le patient peut prendre une douche.                 
            </td>
        </tr>
        <tr style="border: 1px solid;">
            <td style="border: 1px solid;"> 
                Collecteur d'urine chez un patient mobile 
            </td>
            <td>Un collecteur d’urine anti-reflux, vidangeable est adapté au cathéter et fixé à la jambe du patient. 
                <br>Il est vidé selon besoin. 
                <br>La nuit la poche de jambe est raccordée à une poche de nuit. 
                <br>La poche de nuit est changée tous les jours. 
                <br>Le collecteur est changé lors du changement du cathéter                 
            </td>
        </tr>
        <tr style="border: 1px solid;">
            <td> 
                Changement du cathéter 
            </td>
            <td style="border: 1px solid;">Le premier changement du cathéter est un acte médical. Le cathéter sus pubien est changé toutes les 6 semaines. S’assurer que la vessie est pleine, sinon la remplir avec 50 ml de NaCl 0.9 % stérile avant de changer la sonde.                 
            </td>
        </tr>
    </table>
</div>