<div class="container">
    <h1>Prélèvement Artériel (Gazométrie)</h1>
    <h2>Généralités</h2>
    <div class="grid-container">
        <div class="grid-item item2">
            <img src="../../../assets/chap7_1.png" alt="">
        </div>
        <div class="grid-item item1">
            <p>
                La gazométrie artérielle est un test sanguin qui mesure les niveaux de gaz dans le sang artériel, en particulier l'oxygène et le dioxyde de carbone, ainsi que d'autres paramètres tels que le pH, la saturation en oxygène et le bicarbonate. Elle fournit des informations précieuses sur le fonctionnement du système respiratoire et cardiovasculaire, ainsi que sur l'équilibre acido-basique du corps. Cette analyse est couramment utilisée pour évaluer et surveiller les patients présentant des troubles respiratoires, des maladies cardiovasculaires, des déséquilibres électrolytiques, ou en situation de détresse respiratoire aiguë. 
            </p>
        </div>
    </div>
    <h2>Indications et contre-indications </h2>
    <h3>1.	Indications : </h3>
    <p>o	Évaluation de la ventilation d'un patient (PaCO2), de l'équilibre acide-base (pH), de l'oxygénation (PaO2) et de la saturation en oxygène de l'hémoglobine, ainsi que du shunt intrapulmonaire. 
        <br>o	Quantification de la réponse à une intervention thérapeutique, comme l'administration d'oxygène ou la ventilation mécanique. 
        <br>o	Alerte sur la sévérité d'une maladie pulmonaire. 
        <br>o	Surveillance de la progression d'une maladie cardiaque ou pulmonaire documentée. 
        <br>o	Évaluation de l'insuffisance de la réponse circulatoire. 
        <br>o	Evaluer l'équilibre acide-base. 
    </p>
    <h3>2.	Contre-indications : </h3>
    <p>o	Mauvaise circulation collatérale au niveau du site de ponction 
        <br>o	Lésion cutanée, shunt chirurgical 
        <br>o	Existence d'une maladie vasculaire périphérique distante du site de ponction 
        <br>o	Coagulopathie ou thérapie anticoagulante à moyenne ou forte posologie 
         
        <br><br>Elles ne sont pas absolues et dépendent de l’importance de la clinique et l’analyse des GDS. 
    </p>
    <h2>Complications</h2>
    <p>Elles sont rares mais doivent être préalablement exposées au patient de façon claire et systématique : 
        <br>o	Douleur, malaise vagal 
        <br>o	Hématome, hémorragies 
        <br>o	Vasospasme 
        <br>o	Embole distale 
        <br>o	Thromboses artérielles 
        <br>o	Fistule 
        <br>o	Infection nosocomiale 
    </p>
    <h2>Technique</h2>
    <h3>1.	Choix de l’artère : </h3>
    <p>Plusieurs artères se prêtent à la collecte de sang. Le premier choix se porte sur l’artère radiale du bras non dominant, située sur le côté latéral du poignet ; en raison de sa petite taille, l’utilisation de cette artère suppose de grandes compétences en matière de prélèvement artériel. Les autres sites d’accès possibles comprennent les artères brachiales et fémorales, mais ces dernières présentent plusieurs inconvénients, dont : 
        <br>o	Une éventuelle difficulté de localisation, car elles sont moins superficielles que l’artère radiale ; 
        <br>o	Une circulation collatérale limitée ; 
        <br>o	La présence dans leur environnement de structures pouvant être endommagées par une technique déficiente. 
    </p>
    <h3>2.	Matériel nécessaire : </h3>
    <p>Liste du matériel nécessaire à la réalisation du geste : 
        <br>o	Un chariot de soin avec un sac DASRI, un sac DAOM et une boîte à aiguille ; 
        <br>o	Une solution hydro-alcoolique ; 
        <br>o	Une paire de gants non stériles ; 
        <br>o	Une seringue spécifique (héparinée) avec aiguille sécurisée ; 
        <br>o	Des compresses ; 
        <br>o	Un antiseptique ; 
        <br>o	Du sparadrap. 
    </p>
    <h3>3.	Mesures précédant le geste : </h3>
    <p>o	Notez toujours les caractéristiques de l’oxygénothérapie et de la ventilation mécanique (réglage du ventilateur). 
        <br>o	Pratiquez un test d’Allen modifié pour vous assurer qu’il y a une bonne circulation collatérale à partir de l’artère ulnaire. 
        <br>o	Mettez le poignet en extension entre 20 et 30° pour faire rapprocher l'artère de la surface. 
    </p>
    <img src="../../../assets/chap7_2.png" alt="">
    <p>La position est stabilisée grâce à un petit billot placé sous le poignet. </p>
    <h3>4.	Déroulement du geste</h3>
    <p>1.	Dégager une zone de travail à côté du lit et préparer le matériel. 
        <br>2.	Pratiquer les gestes d’hygiène des mains (friction au PHA et port de gants), 
        <br>3.	Désinfecter le site de prélèvement avec de l’alcool à 70 % et laisser sécher. 
        <br>4.	Si l’aiguille et la seringue ne sont pas préassemblées, assembler l’aiguille et la seringue préhéparinée et pousser le piston de la seringue. 
        <br>5.	En tenant la seringue et l’aiguille comme une fléchette, la pointe de l’aiguille face au courant artériel, utiliser l’index pour localiser le pouls, informer le patient qu’il va être piqué et introduire l’aiguille avec un angle de 45°, deux techniques permettent de piquer l’artère 
        <br>-	Piquer soit entre les deux doigts (index et majeur) ; 
        <br>-	Ou piquer juste en dessous de votre index à l’endroit exact où vous sentez le pouls. 
        <br>6.	Faire progresser l’aiguille dans l’artère radiale jusqu’à ce qu’un flux de sang pulsé en retour apparaisse, puis laisser la seringue se remplir. NE PAS appuyer sur le piston de la seringue, prélever au moins 3ml de sang avant de retirer l’aiguille. 
        <br>7.	Jetez la seringue et tout le matériel contaminé dans les poubelles appropriées. 
        <br>8.	Assurez-vous qu’il n’y a pas de bulles d’air, susceptibles de fausser les résultats, dans l’échantillon. 
        <br>9.	L’échantillon doit être analysé rapidement : si le transport au laboratoire doit dépasser 10 minutes, alors la seringue doit être placée sur de la glace pilée.  
    </p>
    <img src="../../../assets/chap7_3.png" alt="">
    <img src="../../../assets/chap7_4.png" alt="">
    
</div>