<div class="legal-container">
    <h1>Mentions Légales</h1>
    
    <p><strong>Editeur de l'application :</strong> Dr IBTISSAM HSAINI</p>
    <p><strong>Adresse e-mail :</strong> Ibtissamsh98&#64;gmail.com</p>
    <p><strong>Numéro de téléphone :</strong> +212708008657</p>
    
    <p><strong>Responsable de la publication :</strong> Pr. Abou El Hassan Taoufik, PES en Service des urgences-SAMU, hôpital ARRAZI, Centre hospitalier universitaire Mohamed VI à Marrakech.</p>
    
    <p><strong>Hébergeur de l'application :</strong> Heroku</p>
    
    <h2>Propriété intellectuelle :</h2>
    <p>Tous les contenus présents sur l'application, notamment les textes, les images, les vidéos, les logos, les icônes, les sons et les données, sont la propriété de l'éditeur ou font l'objet d'une autorisation d'utilisation. Toute reproduction, représentation, modification, publication, transmission, dénaturation, totale ou partielle de l'application ou de son contenu, par quelque procédé que ce soit, et sur quelque support que ce soit, est interdite, sauf autorisation préalable de l'éditeur.</p>
    
    <h2>Données personnelles :</h2>
    <p>L'utilisation de l'application peut nécessiter la collecte et le traitement de données personnelles de l'utilisateur, conformément à la réglementation en vigueur. L'utilisateur est informé que ces données sont collectées et traitées de manière loyale et licite, dans le respect de sa vie privée. L'utilisateur dispose d'un droit d'accès, de rectification, d'opposition et de suppression des données le concernant, qu'il peut exercer en contactant l'éditeur de l'application.</p>
    
    <h2>Responsabilité :</h2>
    <p>L'éditeur de l'application ne saurait être tenu responsable des dommages directs ou indirects, quels qu'ils soient, résultant de l'utilisation de l'application. L'utilisateur est seul responsable de l'utilisation qu'il fait de l'application.</p>
    
    <h2>Droit applicable et juridiction compétente :</h2>
    <p>Les présentes mentions légales sont soumises au droit Marocain. Tout litige relatif à l'interprétation ou à l'exécution des présentes mentions légales sera de la compétence exclusive des tribunaux Marocain.</p>
  
    <button class="btn-back"><a href="/">Retour à l'accueil</a></button>
  </div>
  